{% macro render_metadata_editor(id, prefix, project_name, collection, meta_default_values_collection, edit_allowed, schemata_data_url) %}

<script>
  var formaction = 'default';
  
  // edit_allowed can be a string or a boolean, for uniform handling:
  {% set edit_allowed = edit_allowed|string|lower %}
</script>

<!-- for testing, uncomment these 
<h5>ID: {{ id }}</h5>
<h5>Prefix for metadata: {{ prefix }}</h5>
<h5>Project Name: {{ project_name }}</h5>
<h5>Collection to store values on: {{ collection }}</h5>
<h5>Collection to read default values from: {{ meta_default_values_collection }}</h5>
<h5>edit_allowed: {{ edit_allowed }}</h5>
<h5>data url to get schemata: {{schemata_data_url}}</h5> -->

<div class="selectgrid h-100">
  <div class="card selectlist">
    <div class="card-header">
      <div class="card-title">Available schemata for: <b>{{ project_name }}</b></div>
    </div>
    <table id="{{ id }}-schemata-table" data-toggle='table' data-multi-sort="true" data-sort-name="order" data-sort-order="asc"
      data-url="{{ schemata_data_url }}" data-checkbox-header="false">
      <thead>
        <TR>
          <TH data-field="selected" data-checkbox="true" title="Check the box first, then select field to display the form"></TH>
          <TH data-field="schema" data-sortable="true">Schema Name</TH>
          <TH data-field="schemapath" data-visible="false"></TH>
          <TH data-field="order" data-visible="false"></TH>
        </TR>
      </thead>
    </table>
  </div>
  <div class="card selectdetail">
    <div class="card-header">
      <div class="card-title">Metadata editor</div>
    </div>
    <div class="card-body autoscroll">
      <div id="{{ id }}-reactform"><CENTER>SELECT A SCHEMA FILE...</CENTER></div>
    </div>
    <div class="card-footer">    
      <button class="btn btn-primary formsubmit" type="submit" name="save" form="{{ id }}-metaForm" {% if edit_allowed == 'false' %}hidden{% else %}disabled{% endif %}>Save</button>
      <!--button class="btn btn-primary formsubmit" type="submit" name="continue" form="{{ id }}-metaForm" disabled>Save & Continue</button-->
    </div>
  </div>
</div>

<!---------------------------------------------------------------------------------------------------------->

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/react-jsonschema-form@1.8.1/dist/react-jsonschema-form.js" crossorigin></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

<script>


(() => {
  var selectedSchema = "";
  let isFormChanged = false; 
  let isFormInitialized = false;
  
  // Warning if form is changed (only when edit allowed)
  function confirmIfChanged() {
    if (isFormChanged) {
      {% if edit_allowed == 'true' %}
      const proceed = confirm(
        'You have unsaved changes. If you continue, those changes will be lost. Continue?'
      );
      if (!proceed) return false;
      {% endif %}
    }
    return true;
  }
  
  // Update the collection when a schema is enabled or disabled
  const toggleRow = function (schemapath, schema_action) {
    // console.log('TOGGLE', '{{ collection }}', schemapath, schema_action )
    $.ajax({
      method: "POST",
      url: "{{ url_for('metaedit.set_schemata_for_collection') }}",
      contentType: "application/json; charset=utf-8",
      dataType: "json",      
      data: JSON.stringify({
        collection: "{{ collection }}",
        schemapath: schemapath,
        action: schema_action,
        meta_default_values_collection: "{{ meta_default_values_collection }}",
        attr_type: 'user::schema_in_use',
        prefix: "{{ prefix }}"
      })
    })
  }

  // Load the correct schema form when a schema is selected
  const loadSchema = function(schemapath) {
    console.log('Load schema ' + schemapath)
    $.ajax({
      method: "GET",
      url: '{{ url_for("metaedit.get_schema_and_data") }}',
      data: {
        schemapath: schemapath,
        collection: "{{ collection }}",
        meta_default_values_collection: "{{ meta_default_values_collection }}",
        prefix: "{{ prefix }}"
      },
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (result) {
        selectedSchema = schemapath;
        renderFormFunction(JSON.parse(result.schema), JSON.parse(result.uiSchema), JSON.parse(result.data), '{{ id }}-reactform');
      },
      error: function(request, status, error) {
        console.log(status)
      }
      
    })
  }
  // currently displayed form
  const reactFormContainer = document.getElementById('{{ id }}-reactform');
  // Unmount current form
  const unmountSchemaForm = function () {
    if (reactFormContainer) {
      ReactDOM.unmountComponentAtNode(reactFormContainer);
    }
    selectedSchema = null;
  };
  
  // Install bootstraptable event handlers
  $('#{{ id }}-schemata-table').bootstrapTable({
    // On Row Click
    onClickRow: function (row, $element, field) {
      if (row.selected === false) return;
      if (!confirmIfChanged()) return;
      isFormChanged = false;
      unmountSchemaForm();
      loadSchema(row.schemapath);
      $('#{{ id }}-schemata-table tr').removeClass('highlight');
      $element.addClass('highlight');
    },
    // On Check
    onCheck: function (row, $element) {
      if (!confirmIfChanged()) {
        $('#{{ id }}-schemata-table').bootstrapTable('uncheckBy', {
          field: 'schemapath',
          values: [row.schemapath]
        });
        return;
      }
      isFormChanged = false;
      toggleRow(row.schemapath, 'add');
    },
    // On UnCheck
    onUncheck: function (row) {
      {% if edit_allowed == 'true' %}
      if (!confirm('Unchecking the select box will also delete metadata in this form. Do you want to proceed?')) {
        $('#{{ id }}-schemata-table').bootstrapTable('checkBy', {
          field: 'schemapath',
          values: [row.schemapath]
        });
        return;
      }
      isFormChanged = false;
      toggleRow(row.schemapath, 'remove');

      // Only hide the form if the unchecked schema is the one currently displayed
      if (selectedSchema === row.schemapath) {
        unmountSchemaForm();
      }
      // Remove highlight
      $('#{{ id }}-schemata-table tr').removeClass('highlight');
      {% endif %}
    }
  })

  const Form = JSONSchemaForm.default;
  const log = (type) => console.log.bind(console, type);
  let metaForm;

  function renderFormFunction(schema, uiSchema, data, element) {
    ReactDOM.render(
      React.createElement(
        Form,
        {
          id: "{{ id }}-metaForm",
          schema: schema,
          uiSchema: uiSchema,
          formData: data,
          onChange: function () {
            if (!isFormInitialized) return;
            // Mark the form as changed
            isFormChanged = true;
            // Enable the Save button
            $('.formsubmit').removeAttr('disabled');
          },
          onSubmit: formSubmit,
          ref: form => metaForm = form,
          onError: log("errors")
        },
        React.createElement("div", null)
      ),
      document.getElementById(element),
      () => {
        isFormInitialized = true;
        
        // Disable Save button for non default metadata
        {% if prefix != 'default_metadata::' %}
        $('.formsubmit').prop("disabled", true);
        {% endif %}

        // Disable form entries when editing is not allowed
        {% if edit_allowed == 'false' %}
        const frm = $("#{{ id }}-metaForm");
        frm.find("input, select, textarea, button").prop("disabled", true);
        frm.find("a").addClass("disabled-link");
        {% endif %}
      }
    );
  }

  // Disable checkbox in schemata list when edit not allowed
  {% if edit_allowed == 'false' %}
  $('#{{ id }}-schemata-table').on('post-body.bs.table', function() {
      $('#{{ id }}-schemata-table .bs-checkbox input').addClass('disabled-checkbox').prop('disabled', true);
  });
  {% endif %}
  
  $('#{{ id }}-metaForm.formsubmit').on('click', function () {
    formaction = $(this).attr('name');
  })

  function formSubmit(e) {
    data = {
      data: e.formData,
      collection: "{{ collection }}",
      schemapath: selectedSchema,
      prefix: "{{ prefix }}",
      action: formaction
    },
    // disable Save button
    $('.formsubmit').prop("disabled", true);
    // store metadata
    $.ajax({
    method: "POST",
    url: '{{ url_for("metaedit.store_metadata") }}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    data: JSON.stringify(data),
    success: function () {
      isFormChanged = false; // Clear changed-flag
      if (formaction === 'save') {
        location.reload();
      }
    },
    error: function () {
    }
  });
}

})()
</script>

{% endmacro %}