__pycache__
migrations
instance/*
!instance/config.py.sample
!instance/constants.py.sample
secret
secret.acc
secret.prod
secret.test
static/images/*
.nfs*
*.crt
.spyproject
docker-compose.override.yml
flask_session/
metrics/
rjsf/node_modules/
src/idms_web.egg-info
.venv
.direnv
