import os

basedir = os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI = 'sqlite:///{}/ngsruns.db'.format(basedir)
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Configure redis cache

try:
    import redis
    redis_test = redis.Redis('redis')
    redis_test.set('test', 'value')
    CACHE_TYPE = "RedisCache"
    CACHE_REDIS_HOST = 'redis'
    print('Use REDIS on docker cache')
except:
    try:
        import redis
        redis_test = redis.Redis()
        redis_test.set('test', 'value')
        CACHE_TYPE = "RedisCache"
        print('Use REDIS cache')
    except:
        CACHE_TYPE = "SimpleCache"
        print('Use Simple cache')

ENV = 'test'

CACHE_DEFAULT_TIMEOUT = 300
CACHE_THRESHOLD = 10000
CACHE_KEY_PREFIX = "ngsweb"

GRAPH_MAX_INPUTS = 3
GRAPH_MAX_OUTPUTS = 11

LOGCONFIG = {
    'version': 1,
    'formatters': {
        'default': {
            'format': '[%(asctime)s] %(module)s: %(levelname)s : %(message)s'
        },
    },
    'handlers': {
        'wsgi': {
            'class': 'logging.StreamHandler',
            'formatter': 'default'
        },
    },
    'root': {
        'level': 'DEBUG',
        'handlers': ['wsgi']
    },
}

LABSURV_DB_CRED = {
    'Acceptatie': { 
        'host': r'rivm-sqldb-w04p.rivm.ssc-campus.nl\rivm01_acc',
        'database': 'IDS_labsurv_covid_Acc',
        'user': 'IDS_labsurv_user_acc',
        'password': 'xxx'
    },
    'Test_01': {
        'host': r'rivm-sqldb-w04p.rivm.ssc-campus.nl\rivm01_acc',
        'database': 'IDS_labsurv_covid_Acc',
        'user': 'IDS_labsurv_user_acc',
        'password': 'xxx'        
    }
}


IRODS_ENVS = {
    'Productie':   {
        'host': 'rivm-bioir-l01p.rivm.ssc-campus.nl',
        'zone': 'rivmZone',
        'default': True,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS'
        ]
    },
    'Acceptatie':   {
        'host': 'rivm-bioir-l01a.rivm.ssc-campus.nl',
        'zone': 'rivmZone_acc_01',
        'default': False,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS'
        ]
    },
    'Test_01':   {
        'host': 'rivm-bioir-l01t.rivm.ssc-campus.nl',
        'zone': 'rivmZone_test_01',
        'default': False,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS'
        ]
    },
    'MIL': {
        'host': 'rivm-milir-l01p.rivm.ssc-campus.nl',
        'zone': 'milZone',
        'default': False,
        'features': [
            
        ]
    }
}