import os

basedir = os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI = 'sqlite:///{}/ngsruns.db'.format(basedir)
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Configure redis cache

try:
    import redis
    redis_test = redis.Redis('redis')
    redis_test.set('test', 'value')
    CACHE_TYPE = "RedisCache"
    CACHE_REDIS_HOST = 'redis'
    print('Use REDIS on docker cache')
except:
    try:
        import redis
        redis_test = redis.Redis()
        redis_test.set('test', 'value')
        CACHE_TYPE = "RedisCache"
        print('Use REDIS cache')
    except:
        CACHE_TYPE = "SimpleCache"
        print('Use Simple cache')

ENV = 'test'

CACHE_DEFAULT_TIMEOUT = 300
CACHE_THRESHOLD = 10000
CACHE_KEY_PREFIX = "ngsweb"

GRAPH_MAX_INPUTS = 3
GRAPH_MAX_OUTPUTS = 11

LOGCONFIG = {
    'version': 1,
    'formatters': {
        'default': {
            'format': '[%(asctime)s] %(module)s: %(levelname)s : %(message)s'
        },
    },
    'handlers': {
        'wsgi': {
            'class': 'logging.StreamHandler',
            'formatter': 'default'
        },
    },
    'root': {
        'level': 'DEBUG',
        'handlers': ['wsgi']
    },
}

# This is the max file upload size in MB
MAX_FILE_UPLOAD_SIZE=20000

IRODS_ENVS = {
    'Productie':   {
        'host': 'rivm-bioir-l01p.rivm.ssc-campus.nl',
        'zone': 'rivmZone',
        'default': True,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'external_url': 'https://irodsdata.rivm.nl/browser',
        'refdata_collection': 'reference_dbs',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS',
            'REFERENCE',
            'ACCOUNTING'
        ]
    },
    'Acceptatie':   {
        'host': 'rivm-bioir-l05a.rivm.ssc-campus.nl',
        'zone': 'rivmZone_acc_01',
        'default': False,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'external_url': 'http://rivm-biofl-l02a.rivm.ssc-campus.nl/browser',
        'refdata_collection': 'reference_dbs',
        'accounting_api_url': 'http://rivm-bioir-l01a.rivm.ssc-campus.nl:8081/',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS',
            'REFERENCE',
            'ACCOUNTING'
        ]
    },
    'Test_01':   {
        'host': 'rivm-bioir-l04t.rivm.ssc-campus.nl',
        'zone': 'rivmZone_test_01',
        'default': False,
        'ngsruns_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'jobs_db': 'postgresql://<user>:<pass>@<host>/ICAT',
        'refdata_collection': 'reference_dbs',
        'accounting_api_url': 'http://rivm-biofl-l01t.rivm.ssc-campus.nl:8081/',
        'features': [
            'JOBS',
            'MINILIMS',
            'PROJECTS',
            'REFERENCE',
            'ACCOUNTING'
        ]
    },
    'MIL': {
        'host': 'rivm-milir-l01p.rivm.ssc-campus.nl',
        'zone': 'milZone',
        'default': False,
        'features': [

        ]
    }
}
