<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<table class="table table-sm table-striped">
{% for row in data %}
{% if loop.index == 1 %}
<thead class="wortel">
<tr>
{% for col in row %}
<th>{{ col }}</th>
{% endfor %}
</tr>
</thead>
{% else %}
<tr>
{% for col in row %}
<td>{{ col }}</td>
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</table>
</body>

</html>