/* Use Rijkshuisstijl font ***********************/
/* Regular */
@font-face {
  font-family: 'RO_Sans';
  src:  url('../fonts/ROsanswebtextregular.eot');
  src:  url('../fonts/ROsanswebtextregular.woff') format('woff2'),
        url('../fonts/ROsanswebtextregular.woff') format('woff'),
        url('../fonts/ROsanswebtextregular.ttf') format('ttf'),
        url('../fonts/ROsanswebtextregular.woff') format('opentype'),
        url('../fonts/ROsanswebtextregular.ttf') format('truetype'),
        url('../fonts/ROsanswebtextregular.eot?') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'RO_Sans';
  src:  url('../fonts/ROsanswebtextbold.eot');
  src:  url('../fonts/ROsanswebtextbold.woff') format('woff2'),
        url('../fonts/ROsanswebtextbold.woff') format('woff'),
        url('../fonts/ROsanswebtextbold.ttf') format('ttf'),
        url('../fonts/ROsanswebtextbold.woff') format('opentype'),
        url('../fonts/ROsanswebtextbold.ttf') format('truetype'),
        url('../fonts/ROsanswebtextbold.eot?') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'RO_Sans';
  src:  url('../fonts/ROsanswebtextitalic.eot');
  src:  url('../fonts/ROsanswebtextitalic.woff') format('woff2'),
        url('../fonts/ROsanswebtextitalic.woff') format('woff'),
        url('../fonts/ROsanswebtextitalic.ttf') format('ttf'),
        url('../fonts/ROsanswebtextitalic.woff') format('opentype'),
        url('../fonts/ROsanswebtextitalic.ttf') format('truetype'),
        url('../fonts/ROsanswebtextitalic.eot?') format('embedded-opentype');
        font-weight: 400;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'RO_Serif';
  src:  url('../fonts/ROserifwebtextregular.eot');
  src:  url('../fonts/ROserifwebtextregular.woff') format('woff2'),
        url('../fonts/ROserifwebtextregular.woff') format('woff'),
        url('../fonts/ROserifwebtextregular.ttf') format('ttf'),
        url('../fonts/ROserifwebtextregular.woff') format('opentype'),
        url('../fonts/ROserifwebtextregular.ttf') format('truetype'),
        url('../fonts/ROserifwebtextregular.eot?') format('embedded-opentype');
        font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'RO_Serif';
  src:  url('../fonts/ROserifwebtextbold.eot');
  src:  url('../fonts/ROserifwebtextbold.woff') format('woff2'),
        url('../fonts/ROserifwebtextbold.woff') format('woff'),
        url('../fonts/ROserifwebtextbold.ttf') format('ttf'),
        url('../fonts/ROserifwebtextbold.woff') format('opentype'),
        url('../fonts/ROserifwebtextbold.ttf') format('truetype'),
        url('../fonts/ROserifwebtextbold.eot?') format('embedded-opentype');
        font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'RO_Serif';
  src:  url('../fonts/ROserifwebtextitalic.eot');
  src:  url('../fonts/ROserifwebtextitalic.woff') format('woff2'),
        url('../fonts/ROserifwebtextitalic.woff') format('woff'),
        url('../fonts/ROserifwebtextitalic.ttf') format('ttf'),
        url('../fonts/ROserifwebtextitalic.woff') format('opentype'),
        url('../fonts/ROserifwebtextitalic.ttf') format('truetype'),
        url('../fonts/ROserifwebtextitalic.eot?') format('embedded-opentype');
        font-weight: 400;
  font-style: italic;
}

body {
  font-family: RO_Sans,Arial,sans-serif !important;/* Main body uses RO_Sans */
} 
p {
  font-family: RO_Sans,Arial,sans-serif !important;/* Main body uses RO_Sans */
} 

:root {
    --RIVM-RR-100: #CA005D;
    --RIVM-RR-75: #D74085;
    --RIVM-RR-60: #DF669D;
    --RIVM-RR-45: #E78CB6;
    --RIVM-RR-30: #EFB2CE;
    --RIVM-RR-15: #F7D9E7;
    --RO-blue: #154273;
    --RIVM-LB-75: #4f7196;
    --RIVM-LB-45: #95a9c0;
    --RIVM-LB-30: #b8c6d5;
    --RIVM-LB-15: #dce3ea;
}

.sidebar-dark-primary {
  background-color: var(--RO-blue) !important;
  font-weight: 500;
}

.brand-link {
  background-color: var(--RIVM-RR-100) !important;
  font-weight: 900; /* Very thick */
}

.sidebar-dark-primary .nav-sidebar .nav-link {
  color: var(--RIVM-LB-15) !important;
}

.sidebar-dark-primary .nav-sidebar .nav-link:hover {
  color: var(--RO-blue) !important;
  background-color: var(--RIVM-LB-30) !important;
}

.nav-sidebar .nav-link.active {
  background-color: var(--RIVM-LB-75) !important; /* your custom color */
  color: #fff !important;
}
