th.rotated-text {
    height: 80px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text > div {
    transform:
        translate(-2px, 0px)
        rotate(290deg);
    width: 30px;
}

th.rotated-text > div > span {
    padding: 5px 10px;
}