.modal-tall modal {
  width: 100%;
}
  
.modal-tall .modal-dialog {
  height: 90%;
#  width: 100%;
}
.modal-tall .modal-content {
  height: 100%;
#  width: 100%;
}

.modal-tall .modal-header {
  height: 50px;
}

.modal-tall .modal-body {
  height: 80%;
}

.modal-tall .modal-footer {
  height: 5%;
}

@media (min-width: 768px) {
  .modal-xl {
   width: 80%;
   max-width:1600px;
  }
}

.table-smallfont {
        font-size: 10px;
}

.page-wrapper{
    width: 90%;
    margin: 0 auto;
}
