html {
  font-size: 80%;
  height: 100%;
}

body {
  height: 100%;
}

.content {
  height: 100%;
}

.bootstrap-table  {
  height: 100%;
}

.fixed-table-container {
  height: 90%;
}

.content-wrapper {
  overflow-y: hidden;
  /* border-style: solid; */
}

.modal-tall modal {
  width: 100%;
}
  
.modal-tall .modal-dialog {
  height: 90%;
}
.modal-tall .modal-content {
  height: 100%;
}

.modal-tall .modal-header {
  height: 50px;
}

.modal-tall .modal-body {
  height: 80%;
}

.modal-tall .modal-footer {
  height: 5%;
}

@media (min-width: 768px) {
  .modal-xl {
   width: 80%;
   max-width:1600px;
  }
}

.table-smallfont {
        font-size: 10px;
}


.page-heading{
  width: 98%;
  height: 3%;
  margin: 0 auto;
}


.page-wrapper{
    width: 98%;
    height: 90%;
    margin: 0 auto;
}
.jobdetail-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: stretch;
  grid-template-columns: [left] 50% [middle] 50% [right];
  grid-template-rows: [top] 35% [center] auto [bottom];
  grid-template-areas:
    "jobmeta pggraph"
    "jobmeta pgjobs"  
}
.grid-jobmeta {
  grid-area: jobmeta;
}
.grid-pggraph {
  grid-area: pggraph;
}
.grid-pgjobs {
  grid-area: pgjobs;
}

.listdetail-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: stretch;
  grid-template-columns: [left] 40% [middle] auto [right];
  grid-template-rows: [top] 78vh [bottom];
  grid-template-areas:
    "listing details"
}

.grid-list {
  grid-area: listing;
}

.grid-details {
  grid-area: details;
}

.selectgrid {
  display: grid;
  width: 100%;
  height: 100vh;
  column-gap: 10px;
  row-gap: 10px;
  align-items: stretch;
  grid-template-columns: [left] 250px [middle] auto [right];
  grid-template-rows: [top] 100% [bottom];
  grid-template-areas:
    "selectlist selectdetail"
}


.selectlist {
  grid-area: selectlist;
  height: 100%;
}

.selectdetail {
  grid-area: selectdetail;
}

.browsergrid {
   display: grid;
   width: 100%;
   height: 100vh;
   column-gap: 10px;
   row-gap: 10px;
   align-items: stretch;
   grid-template-columns: [left] 220px [middle] auto [right] 30%;
   grid-template-rows: [top] 33% [middle] 67% [bottom] 0pt;
   grid-template-areas:
     "sidebar graph actions"
     "sidebar contents metadata"
   
}

.actiontable-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: stretch;
  grid-template-columns: [left] auto [right];
  grid-template-rows: 90% [middle] 10%;
  grid-template-areas:
    "table"
    "footer"
}


.at-table {
  grid-area: table;
}

.at-footer {
  grid-area: footer;
}


.browser-sidebar {
  grid-area: sidebar;
  height: 100%;
}

.browser-graph {
  grid-area: graph;
}

.browser-contents {
  grid-area: contents;
}

.browser-actions {
  grid-area: actions;
}

.browser-meta {
  grid-area: metadata;
}

.h100{
  min-height: 100%;
  max-height: 100%;
}

#content {
  width:100%;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

.caret {
  cursor: pointer;
}

.path-change {
  cursor: pointer;
  color: blue;
}

.path-active {
  font-weight: bold;
}

.inline {
  display: inline;
}

.caret-nosub::before {
  content: "\25B7";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg)
}

.check-margin10 { margin-left:10px; /* Set as you wish */ }

.scroll {
  /* min-height: 71vh;
  max-height: 84vh; */
  overflow-x: scroll;
  overflow-y: scroll;
}

.small-font {
  font-size: 0.9rem;
}

.mybutton {
  width: 15px;
  height: 15px;
}

.h8 {
  height: 3rem;
  margin: 1pt;
}

.button12 {
  min-width: 12em;
  max-width: 12em;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.white {
  color: white;
}

.buttonbar {
    float: right;
}

.scrollbar-y {
  overflow-y: scroll;
}


.noscroll {
  overflow-x: hidden;
  overflow-y: hidden; 
}

.autoscroll {
  overflow-x: auto;
  overflow-y: auto; 
}

.graph-height {
  min-height: 27vh;
  max-height: 27vh;
  overflow-y: hidden;
}

.h30 {
  min-height: 28vh;
  max-height: 28vh;
  overflow-y: sroll;
}

/* .coll-meta {
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: scroll;
} */

/* .coll-content {
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: scroll;
} */

.coll-content-sm {
  min-height: 15vh;
  max-height: 15vh;
  overflow-y: scroll;
}

.title {
  /* border-style: solid; */
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0,0,0, 0.15), 0 1px 3px rgba(0,0,0, 0.25);
  /* 15 rgba(0, 0, 0, 0.137), 0 1px 3px rgba(0, 0, 0, 0.205) */
  /* width: 100%; */
  padding: 0.5rem;
  margin:  0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  /* border-style: solid; */
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0,0,0, 0.15), 0 1px 3px rgba(0,0,0, 0.25);
  /* 15 rgba(0, 0, 0, 0.137), 0 1px 3px rgba(0, 0, 0, 0.205) */
  /* width: 100%; */
  padding: 0.5rem;
  padding-left: 1rem;
  margin:  0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: red;
}

.seqlist {
  min-height: 75h;
  max-height: 75vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.myheader {
  min-height:42px;
  max-height:42px;
}

.sort-change {
  cursor: pointer;
  color: blue;  
}

.vertical-down {
    padding-top: 5px;
}

.nopadding {
  padding: 1px !important;
}

.right-line {
  border-right: 1px dashed #333;
}

.fullheight {
  min-height: 100%;
  max-height: 100%;
  overflow: show;
  overflow-y: scroll;
}

.viewport {
  min-height: 88vh;
  max-height: 100%;
}

.scroll2 {
  min-height: 88vh;
  max-height: 88vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.pending {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/static/img/loading.gif);
}

.wrap {
  height:88vh;
}

.header, .footer {
  min-height: 60px;
}

.sidebar-content {
  flex:1;
  overflow-y:scroll;
}

.scrollbox {
  flex: 1;
  overflow-y: scroll;
}

.center {
  top: 50%;
}

.separator {
  border-bottom: 1px solid #4f5962;
}

.nav-header {
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.file-link {
  font-size: 12px;
  margin: 0.1rem;
  padding: 0.25rem;
}
.file-link:hover {
  background-color: rgb(141, 141, 141);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c1 { filter: hue-rotate(0deg)   }
.c2 { filter: hue-rotate(30deg)  }
.c3 { filter: hue-rotate(60deg)  }
.c4 { filter: hue-rotate(90deg)  }
.c5 { filter: hue-rotate(120deg) }
.c6 { filter: hue-rotate(150deg) }
.c7 { filter: hue-rotate(180deg) }
.c8 { filter: hue-rotate(210deg) }
.c9 { filter: hue-rotate(240deg) }
