.modal-tall modal {
  width: 100%;
}
  
.modal-tall .modal-dialog {
  height: 90%;
#  width: 100%;
}
.modal-tall .modal-content {
  height: 100%;
#  width: 100%;
}

.modal-tall .modal-header {
  height: 50px;
}

.modal-tall .modal-body {
  height: 80%;
}

.modal-tall .modal-footer {
  height: 5%;
}

@media (min-width: 768px) {
  .modal-xl {
   width: 80%;
   max-width:1600px;
  }
}

.table-smallfont {
        font-size: 10px;
}

.page-wrapper{
    width: 90%;
    margin: 0 auto;
}

.wrapper {
   display: flex;
   width: 100%;
   align-items: stretch;
}

#sidebar{
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
  padding-right: 8px;
}

#content {
  width:100%;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.caret {
  cursor: pointer;
}


.caret-nosub::before {
  content: "\25B7";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg)
}

.scroll {
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.small-font {
  font-size: 60%;
}