{% extends 'base2.html' %}
 
{% block heading %}
Collection browser : {{ path }}
{% endblock %}

{% block content %}

<a href="/collbrowser?action=up&path={{ path }}"><button type="button" class="btn btn-outline-secondary">UP</button></a>

{% if avu|length > 0 %}

<div class="card card-body" >
<h3>Collection metadata</h3>
<table class="table table-hover table-striped table-sm">
<thead>
<tr>
<th>Attribute</th>
<th>Value</th>
<th>Unit</th>
</tr>
</thead>
<tbody>


{% for entry in avu %}
<tr>
    <td> {{ entry.name }} </td>
    <td> {{ entry.value }} </td>
    <td> {{ entry.units }} </td>
</tr>
{% endfor %}

</tbody>
</table>
</div>

{% endif %}

<div class="card card-body">
<h3>Collection contents</h3>
<table class="table table-sm table-striped">
<thead>
<tr>
<th>Name</th>
<th>Size</th>
<th>Create_Date</th>
<th>Owner_Name</th>
</tr>
</thead>
<tbody>

{% for entry in cols %}
<tr>
    <td> <a href="/collbrowser?path={{ entry.path }}">{{ entry.name }}</a> </td>
    <td> DIR </td> <td> {{ entry.datetime }} </td> <td> {{ entry.ownername }} </td>
</tr>
{% endfor %}

{% for entry in objs %}
<tr><td>
<a href="/docviewer?path={{entry.path}}">{{ entry.name }}</a>
</td>
<td>
{{ entry.size}}
</td>
<td>
{{ entry.create_time}}
</td>
<td>
{{ entry.owner_name}}
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


