{% extends 'base2.html' %}
 
{% block heading %}
Collection browser : {{ path }}
{% endblock %}

{% block content %}

<a class="btn-btn-primary" href="/collbrowser?action=up&path={{ path }} role="button">UP</a>

<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Size</th>
<th>Create_Date</th>
<th>Owner_Name</th>
</tr>
</thead>
<tbody>

{% for entry in cols %}
<tr>
    <td> <a href="/collbrowser?path={{ entry.path }}">{{ entry.name }}</a> </td>
    <td> DIR </td> <td> {{ entry.datetime }} </td> <td> {{ entry.ownername }} </td>
</tr>
{% endfor %}

{% for entry in objs %}
<tr><td>
<a href="/docviewer?path={{entry.path}}">{{ entry.name }}</a>
</td>
<td>
{{ entry.size}}
</td>
<td>
{{ entry.create_time}}
</td>
<td>
{{ entry.owner_name}}
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}


