{% extends 'base2.html' %}
  
{% block heading %}
<H2>Group details for {{ details.name }} </H2>
{% endblock %}

{% block content %}

<div class="card card-body">
<H2>Details</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
</thead>
<tbody>
<tr>
<td width="30%">ProjectID</td>
<td>
<a href="/projectdetails?name={{details.projectID}}">
{{ details.projectID }}
</a>
</td>
</tr>

<tr><td>AD Group</td>
<td>{{ details.adgroup }}</td>
</tbody>
</table>
</div>


<div class="card card-body">
<H2>Group members</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
<TR>
<TH scope="col"></TH>
<TH scope="col">Name</TH>
</TR>
</thead>
<tbody>
{% for user in details.users %}
<tr>
<td width="20%">
{{ group }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>


<!-- PROJECT Collections --!>

{% endblock %}

