{% extends 'base.html' %}
  
{% block header %}
<h2>{% block title %}iRODS{% endblock %}</h2>
{% endblock %}

{% block content %}
<TABLE style="width:60%" border=0>
<TR bgcolor=cyan height=50>
<TH>Name</TH>
<TH>State</TH>
<TH>GIT Repo</TH>
<TH>GIT Tag</TH>
<TH>Start</TH>
<TH>Finish</TH>
<TH>Result</TH>
</TR>
{% for entry in joblist %}
 {% if loop.index is divisibleby(2) %} 
   <TR bgcolor=lightblue height=30>
 {% else %}
   <TR bgcolor=white height=30>
 {% endif %}

   <TD>{{ entry.name }}</TD>

     <TD>{{ entry.state }}</TD>
     <TD>{{ entry.repo }}</TD>
     <TD>{{ entry.tag }}</TD>
     <TD>{{ entry.startTime }}</TD>
     <TD>{{ entry.endTime }}</TD>
     <TD>{{ entry.exit_code }} </TD>
   </TR>
{% endfor %}
 </TABLE>
{% endblock %}

