{% extends 'base2.html' %}
  
{% block heading %}
<H2>Project details for {{ details.name }} </H2>
{% endblock %}

{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script>
function update_proces(sourceElem, destElem) {
    $.post("/get_proces",
    { project: $(sourceElem+" option:selected").text() },
        function(response) { 
            select = $(destElem) 
            if(select.prop) {
                var options = select.prop('options');
            }
            else {
                var options = select.attr('options');
            }
            $('option', select).remove();
            $.each(response, function(index, val) {
    options[options.length] = new Option(val, val);
});
        }    
    );    
}

</script>
<!-- PROJECT SETTINGS --!>
<div class="card card-body">
<H2>Processes</H2>
{% for proces in details.details %}
<a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse{{proces}}" role="button" aria-expanded="false" aria-controls="collapse{{proces}}">
    {{proces}}
</a>
<div class="collapse {% if procesnaam == proces %}show{% endif %}" id="collapse{{proces}}">
<div class="card card-body" >
<form action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="update_proces">
  <input type="hidden" id="proces" name="project" value="{{details.name}}">
  <input type="hidden" id="proces" name="proces" value="{{proces}}">
  <div class="form-group">
    <label for="gitrepo_{{proces}}">GIT Repository</label>
    <input type="text" class="form-control" name="repo" id="gitrepo_{{proces}}" placeholder="GIT Repo" value="{{ details.details[proces]['repo'] }}">
  </div>
  <div class="form-group">
    <label for="gittag_{{proces}}">GIT Tag</label>
    <input type="text" class="form-control" name="tag" id="gittag_{{proces}}" placeholder="GIT Tag" value="{{ details.details[proces]['tag'] }}">
  </div>
  <div class="form-group">
    <label for="outprefix_{{proces}}">Output Prefix</label>
    <input type="text" class="form-control" name="output_prefix" id="outprefix_{{proces}}" placeholder="Output prefix" value="{{ details.details[proces]['output_prefix'] }}">
  </div>
  <div class="form-group">
    <label for="nextproject_{{proces}}">Next ProjectID</label>
    <select class="custom-select" name="next_projectID" id="nextproject_{{proces}}" onchange="update_proces('#nextproject_{{proces}}', '#nextproces_{{proces}}')">
{% for project in conf|sort %}
<option{% if project in details.details[proces]['next_projectID'] %} selected {% endif %}>{{project}}</option>
{% endfor %}
    </select>
  </div> 

  <div class="form-group">
    <label for="nextproces_{{proces}}">Next ProcessID</label>
    <select class="custom-select" name="next_processID" id="nextproces_{{proces}}">
{% for nextproces in conf[details.name]|sort %}

<option {% if nextproces == details.details[proces]['next_processID'] %} selected {% endif %}>{{nextproces}}</option>
{% endfor %}
    </select>
  </div> 
  

<div class="form-group">  
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
<form action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="delete_proces">
  <input type="hidden" id="proces" name="project" value="{{details.name}}">
  <input type="hidden" id="proces" name="proces" value="{{proces}}">
<button type="submit" class="btn btn-secondary">Delete</button>
</form>

</div>
</div>
{% endfor %}

<form class="form-inline" action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="add_proces">
  <input type="hidden" id="proces" name="project" value="{{details.name}}">
  <div class="form-group mx-sm-3 mb-2">
<!--    <label for="inputPassword2" class="sr-only">Dummy</label> --!>
    <input type="text" class="form-control" name="proces" id="inputProces" placeholder="Proces">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add new proces</button>
</form>
</div>

<!-- PROJECT GROUPS --!>
<div class="card card-body">
<H2>Project groups</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
<TR>
<TH scope="col">Name</TH>
</TR>
</thead>
<tbody>
{% for group in details.groups %}
<tr>
<td>
<a href="/groupdetails?group={{group}}">
{{ group }}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<!-- PROJECT Collections --!>
<div class="card card-body">
<H2>Project collections</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
<TR>
<TH scope="col">Name</TH>
</TR>
</thead>
<tbody>
{% for coll in details.colls %}
<tr>
<td>
<a href="/datasetdetails?path={{coll}}">
{{ coll }}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}

