{% extends 'base2.html' %}
  
{% block heading %}
<H2>Project details for {{ details.name }} </H2>
{% endblock %}

{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script>
function update_process(sourceElem, destElem) {
    $.post("/get_process",
    { project: $(sourceElem+" option:selected").text() },
        function(response) { 
            select = $(destElem) 
            if(select.prop) {
                var options = select.prop('options');
            }
            else {
                var options = select.attr('options');
            }
            $('option', select).remove();
            $.each(response, function(index, val) {
    options[options.length] = new Option(val, val);
});
        }    
    );    
}

</script>
<!-- PROJECT SETTINGS --!>
<div class="card card-body">
<H2>Processes</H2>
{% for process in details.details %}
<a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse{{process}}" role="button" aria-expanded="false" aria-controls="collapse{{process}}">
    {{process}}
</a>
<div class="collapse {% if processnaam == process %}show{% endif %}" id="collapse{{process}}">
<div class="card card-body" >
<form action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="update_process">
  <input type="hidden" id="process" name="project" value="{{details.name}}">
  <input type="hidden" id="process" name="process" value="{{process}}">
  <div class="form-group">
    <label for="gitrepo_{{process}}">GIT Repository</label>
    <input type="text" class="form-control" name="repo" id="gitrepo_{{process}}" placeholder="GIT Repo" value="{{ details.details[process]['repo'] }}">
  </div>
  <div class="form-group">
    <label for="gittag_{{process}}">GIT Tag</label>
    <input type="text" class="form-control" name="tag" id="gittag_{{process}}" placeholder="GIT Tag" value="{{ details.details[process]['tag'] }}">
  </div>
  <div class="form-group">
    <label for="outprefix_{{process}}">Output Prefix</label>
    <input type="text" class="form-control" name="output_prefix" id="outprefix_{{process}}" placeholder="Output prefix" value="{{ details.details[process]['output_prefix'] }}">
  </div>
  <div class="form-group">
    <label for="nextproject_{{process}}">Next ProjectID</label>
    <select class="custom-select" name="next_projectID" id="nextproject_{{process}}" onchange="update_process('#nextproject_{{process}}', '#nextprocess_{{process}}')">
{% for project in conf|sort %}
<option{% if project in details.details[process]['next_projectID'] %} selected {% endif %}>{{project}}</option>
{% endfor %}
    </select>
  </div> 

  <div class="form-group">
    <label for="nextprocess_{{process}}">Next ProcessID</label>
    <select class="custom-select" name="next_processID" id="nextprocess_{{process}}">
{% for nextprocess in conf[details.name]|sort %}

<option {% if nextprocess == details.details[process]['next_processID'] %} selected {% endif %}>{{nextprocess}}</option>
{% endfor %}
    </select>
  </div> 

<div class="form-check">
  <input class="form-check-input" type="checkbox" 
      name="modify_in_place" 
      value="true" 
      {% if details.details[process]['modify_in_place'] == 'true' %}checked{% endif %} 
      id="modify_in_place_{{process}}">
  <label class="form-check-label" for="modify_in_place_{{process}}">
    Modifes input collection, no output
  </label>
</div>  

<div class="form-check">
  <input class="form-check-input" type="checkbox" 
      name="restartable" 
      value="true" 
      {% if details.details[process]['restartable'] == 'true' %}checked{% endif %} 
      id="restartable_{{process}}">
  <label class="form-check-label" for="restartable_{{process}}">
    Restarts on error
  </label>
</div>  

<div class="form-group">  
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
<form action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="delete_process">
  <input type="hidden" id="process" name="project" value="{{details.name}}">
  <input type="hidden" id="process" name="process" value="{{process}}">
<button type="submit" class="btn btn-secondary">Delete</button>
</form>

</div>
</div>
{% endfor %}

<form class="form-inline" action="update_project" method="post">
  <input type="hidden" id="action" name="action" value="add_process">
  <input type="hidden" id="process" name="project" value="{{details.name}}">
  <div class="form-group mx-sm-3 mb-2">
<!--    <label for="inputPassword2" class="sr-only">Dummy</label> --!>
    <input type="text" class="form-control" name="process" id="inputProcess" placeholder="Process">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add new process</button>
</form>
</div>

<!-- PROJECT GROUPS --!>
<div class="card card-body">
<H2>Project groups</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
<TR>
<TH scope="col">Name</TH>
</TR>
</thead>
<tbody>
{% for group in details.groups %}
<tr>
<td>
<a href="/groupdetails?group={{group}}">
{{ group }}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<!-- PROJECT Collections --!>
<div class="card card-body">
<H2>Project collections</H2>
<TABLE class="table table-striped table-hover table-sm" >
<thead>
<TR>
<TH scope="col">Name</TH>
</TR>
</thead>
<tbody>
{% for coll in details.colls %}
<tr>
<td>
<a href="/datasetdetails?path={{coll}}">
{{ coll }}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}

