{% extends 'base2.html' %}

{% block heading %}
<h3>About</h3>
{% endblock %}
{% block menuname %}
menuname='about'
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        Contacts
    </div>
    <div class="card-body">
        <p>Authors:</p>
        <ul>
            <li>Erwin van Wieringen (erwin.van.wieringen@rivm.nl)</li>
            <li>Jan-Erek Thiede (jan.erek.thiede@rivm.nl)</li>
            <li>Robert Verhagen (robert.verhagen@rivm.nl)</li>
            <li>Eva Deutekom (eva.deutekom@rivm.nl)</li>
            <li>Remie Janssen (remie.janssen@rivm.nl)</li>
            <li>Stefan Lobner (stefan.lobner@rivm.nl)</li>
            <li>Yuchen Huang (yuchen.huang@rivm.nl)</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        iRODS environment
    </div>
    <div class="card-body">
        iRODS Server version : {{ irods_version }}
    </div>
</div>
<div class="card">
    <div class="card-header">
        iDMS
    </div>
    <div class="card-body">
        <ul>
            <li>git commit hash: <a href="https://gitlab.rivm.nl/bioinformatics/ngsweb/-/tree/{{ ngsweb_version }}">{{ ngsweb_version[:8] }}</a></li>
            <li>git branch name: <a href="https://gitlab.rivm.nl/bioinformatics/ngsweb/-/tree/{{ ngsweb_branch }}">{{ ngsweb_branch }}</a></li>
        </ul>
    </div>
</div>

{% endblock %}