{% extends 'base2.html' %}

{% block heading %}
<H3>About</H3>
{% endblock %}
{%block menuname %}
menuname='about'
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        Contacts
    </div>
    <div class="card-body">
        <P>Authors:</P>
        <ul>
            <li>Erwin van Wieringen (erwin.van.wieringen@rivm.nl)</LI>
            <li>Jan-Erek Thiede (jan.erek.thiede@rivm.nl)</li>
            <li>Mark Kroon (mark.kroon@rivm.nl)</li>
            <li>Robert Verhagen (robert.verhagen@rivm.nl)</li>
            <li>Eva Deutekom (eva.deutekom@rivm.nl)</li>
            <li>Remie Janssen (remie.janssen@rivm.nl)</li>
            <li>Stefan Lobner (stefan.lobner@rivm.nl)</li>
            <li>Yuchen Huang (yuchen.huang@rivm.nl)</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        iRODS environment
    </div>
    <div class="card-body">
        iRODS Server version : {{ irods_version }}
    </div>
</div>
<div class="card">
    <div class="card-header">
        NGSweb
    </div>
    <div class="card-body">
        <ul>
            <li>git commit hash: <A href="https://gitlab.rivm.nl/bioinformatics/ngsweb/-/tree/{{ ngsweb_version }}"</a>{{ ngsweb_version[:8] }}</A></li>
            <li>git branch name: <A href="https://gitlab.rivm.nl/bioinformatics/ngsweb/-/tree/{{ ngsweb_branch }}"</a>{{ ngsweb_branch }}</A></li>
        </ul>
    </div>
</div>


{% endblock %}