{% macro override_checkbox(data, attr) %}
{% if data[2]==False %}
<td>{% if data[0]=='true' %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{%
  endif %}</td>
{% else %}
<td class="data-toggle" data-attr="{{ attr }}" data-value={{ data[0] }}>{% if data[0]=='true'
  %}<i class="fa-solid fa-check green"></i>{% else %}<i class="fa-solid fa-xmark red"></i>{% endif %}</td>
{% endif %}
<td class="data-override" data-attr="{{ attr }}" data-value={{ data[0] }} data-override={{ data[2] }}>{% if
  data[2]==False
  %}<i class="fa-solid fa-check"></i>{% endif %}</td>
{% if data[2]==False %}
<td>{{ data[1].htmlshort | safe }}</td>
{% endif %}
{% endmacro %}

{% macro override_number(name, data, attr) %}
{% if data[2]==False %}
<td>{{ data[0] }}</td>
{% else %}
<td class="data-number" data-attr="{{ attr }}">
  <input id="{{ name }}" class="form-control narrow" type="number" value="{{ data[0] }}">
</td>
{% endif %}
<td class="data-override" data-attr="{{ attr }}" data-field={{ name }} data-override={{ data[2] }}
  data-value="{{ data[0] }}">{% if
  data[2]==False
  %}<i class="fa-solid fa-check"></i>{% endif %}</td>
{% if data[2]==False %}
<td>{{ data[1].htmlshort | safe }}</td>
{% endif %}
{% endmacro %}
<div class="scrollbar-y">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Value</th>
        <th>Inherit</th>
        <th>From</th>
      </tr>
    </thead>
    <tr>
      <th>Archiving</th>
      <td class="archive-enable" data-value={{ coll_state.enabled }}>{% if coll_state.enabled=='true' %}<i
          class="fa-solid fa-check green"></i>{% else %}<i class="fa-solid fa-xmark red"></i>{% endif %}</td>
      <td>N.A.</td>
    </tr>
    <tr>
      <th>Store locally</th>
      {{ override_checkbox(coll_state.keep_local, "sys::archive::local") }}
    </tr>
    <tr>
      <th>Keep online</th>
      {{ override_checkbox(coll_state.keep_online, "sys::archive::keep_online") }}
    </tr>
    <tr>
      <th>Copies stored</th>
      {{ override_number("min_copies", coll_state.min_copies, "sys::archive::min_copies") }}
    </tr>
    <tr>
      <th>Retention period</th>
      {{ override_number("create_retention", coll_state.create_retention, "sys::archive::create_retention") }}
    </tr>
    <tr>
      <th>Generate object_ids</th>
      {{ override_checkbox(coll_state.object_ids, "sys::rules::object_ids") }}
    </tr>
  </table>
</div>
<script>

  $('a[data-toggle="tab"]').on('click', function (event) {
    activeSettingsTab = event.target.getAttribute('href')
  })

  $('td.data-toggle').on('click', function () {
    attr = $(this).data('attr')
    val = $(this).data('value') == 'true'
    $.get("{{ url_for('collbrowser.setmeta') }}", {
      attr: attr,
      collection: collection,
      value: !val
    }, function () {
      load_meta();
      load_actions();
    })
  })

  $('td.data-number').on('change', function () {
    attr = $(this).data('attr')
    val = $(this).find('input').val()
    console.log(val)
    $.get("{{ url_for('collbrowser.setmeta') }}", {
      attr: attr,
      collection: collection,
      value: val
    }, function () {
      load_meta();
      load_actions();
    })
  })


  $('td.data-override').on('click', function () {
    attr = $(this).data('attr')
    override = $(this).data('override') == 'True'
    value = $(this).data('value') == 'true'
    $.get("{{ url_for('collbrowser.setoverride') }}", {
      attr: attr,
      collection: collection,
      override: !override,
      value: value
    }, function (data) {
      load_meta();
      load_actions();
    })
  });


  $('.archive-enable').on('click', function () {
    var value = $(this).data('value')
    if (value == false) {
      $.get('{{ url_for("collbrowser.rmmeta") }}', {
        collection: collection,
        attr: "sys::archive::enable"
      }, function (data) {
        load_meta();
        load_actions();
      });
    } else {
      $.get('{{ url_for("collbrowser.setmeta") }}', {
        collection: collection,
        attr: "sys::archive::enable",
        value: "false"
      }, function (data) {
        load_meta();
        load_actions();
      });
    }
  });

</script>