<script>

    function updateUntilDate() {
        var selected = $( "#inputSelectDate" ).val()
        var now = moment()
        var until = moment()
        if( selected == "1w" ) {
          until.add( 7,'days' )
        } else if( selected == "1M" ) {
          until.add( 1, 'month' )
        }
        else if( selected == "6M" ) {
          until.add( 6, 'month' ) 
        }
        else {
          $( "#untilDate" ).html( "" )
          return
        }
        $( "#untilDate" ).html( "until:" + until.format( "YYYY-MM-DD" ))
    }

    function bringDatasetOnline() {
        var selected = $( "#inputSelectDate" ).val()
        $.get('{{ url_for('collbrowser.setKeepOnlineUntil') }}', {
          collection: '{{ collection }}',
          selection: selected
        }, function(data) {
           load_meta();
        });
    }

    function startProcess() {
      var processid = $("#processSelect").val()
      $.get('{{ url_for('collbrowser.startprocess') }}', {
        collection: '{{ collection }}',
        processid: processid
      }, function(data) {
        load_meta();
        load_actions();
      });
    }

    function overrideDatasetLocal() {
        var selected = $( "#keepLocalSwitch" ).is(':checked')
        var override = $( "#overrideLocalSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setoverride') }}', {
          attr: 'sys::archive::local',
          collection: '{{ collection }}',
          override: override,
          value: selected
        }, function(data) {
           load_meta();
           load_actions();
        });
    }

    function overrideDatasetOnline() {
        var selected = $( "#keepOnlineSwitch" ).is(':checked')
        var override = $( "#overrideOnlineSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setoverride') }}', {
          attr: 'sys::archive::keep_online',
          collection: '{{ collection }}',
          override: override,
          value: selected
        }, function(data) {
           load_meta();
           load_actions();
        });
    }

    function setMincopies(i) {
        $.get('{{ url_for('collbrowser.setmeta') }}', {
          collection: '{{ collection }}',
          attr: 'sys::archive::min_copies',
          value: i
        }, function(data) {
           load_meta();
        });
    }

    function overrideMincopies() {
        var copies = $(".min-copies:checked").val()
        var override = $( "#overrideMincopiesSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setoverride') }}', {
          collection: '{{ collection }}',
          override: override,
          attr: 'sys::archive::min_copies',
          value: copies
        }, function(data) {
           load_meta();
           load_actions();
        });
    }    

    function keepDatasetLocal() {
        var selected = $( "#keepLocalSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setmeta') }}', {
          collection: '{{ collection }}',
          attr: 'sys::archive::local',
          value: selected
        }, function(data) {
           load_meta()
        });
    }

    function keepDatasetOnline() {
        var selected = $( "#keepOnlineSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setmeta') }}', {
          collection: '{{ collection }}',
          attr: 'sys::archive::keep_online',
          value: selected
        }, function(data) {
           load_meta()
        });
    }

    function enableArchive() {
      var selected = $( "#enableArchiveSwitch" ).is(':checked')
        $.get('{{ url_for('collbrowser.setmeta') }}', {
          collection: '{{ collection }}',
          attr: "sys::archive::enable",
          value: selected
        }, function(data) {
           load_meta()
        });
    }

$('.nav-pills').on('shown.bs.tab', function(event){
  activetab = event.target.getAttribute('href')
});


</script>

<div class="card border-primary md-2 graph-height">
    <div class="card-header">
      <ul class="nav nav-pills">
        <li class="nav-item mx-2">
          <button class="btn btn-outline-primary active" id="tasks-tab" 
            data-toggle="tab" href="#tasks" role="tab" 
            aria-controls="tasks" aria-selected="false">Files</button>
        </li>
        <li class="nav-item mx-2">
          <button class="btn 
              {% if archival_state.is_offline is sameas true %} btn-outline-danger {% else %}
              btn-outline-primary
              {% endif %}
              {% if archival_state.is_dataset is sameas false %} btn-outline-dark disabled {% endif %}
              " id="archive-tab" data-toggle="tab" href="#archive" role="tab" aria-controls="archive" 
              aria-selected="false">
              {% if archival_state.is_dataset is sameas true and archival_state.is_offline is sameas true %}OFFLINE{% else %}Archive{% endif %}
          </button>
        </li>
        {% if admin is sameas True %}
        <li class="nav-item mx-2">
          <button class="btn btn-outline-primary" id="storage-tab"
            data-toggle="tab" href="#storage" role="tab"
            aria-controls="storage" aria-selected="false">
            Storage
          </button>
        </li>
        {% endif %}
        {% if archival_state.is_dataset is sameas true %}
        <li class="nav-item mx-2">
          <button class="btn btn-outline-primary" id="pipeline-tab"
            data-toggle="tab" href="#pipeline" role="tab"
            aria-controls="pipeline" aria-selected="false">
            Pipeline
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="card card-body tab-content">
        <div class="tab-pane active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
          <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#upload" href="#upload" role="button">
            Upload
          </a>
        </div>
        <div class="tab-pane" id="archive" role="tabpanel" aria-labelledby="archive-tab">
            {% if archival_state.is_offline is sameas true %} 
              This dataset is currently offline (on tape).<br>
            {% endif %}
            <hr>
            <form>
              <div class="form-group">
                <label class="col-form-label">
                {% if archival_state.is_offline is sameas true %} 
                Bring
                {% else %}
                Keep
                {% endif %}
                online for:
                </label>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <select class="custom-select" id="inputSelectDate" onChange="updateUntilDate()">
                      <option selected>Choose...</option>
                      <option value="1w">1 Week</option>
                      <option value="1M">1 Month</option>
                      <option value="6M">6 Month</option>
                  </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-sm btn-outline-secondary" type="button" onClick="bringDatasetOnline()">bring online</button>
                </div>
                <div class="col-sm-3 vertical-down">
                    <span id="untilDate"></span>
                </div>
              </div>
            </form>

            <hr>

            {% if archival_state.is_offline and archival_state.online_percentage > 0 and archival_state.online_percentage < 100 %} 
            <form>
                <div class="form-group row">
                    <div class="input-group col-sm-12">
                      Currently retrieving data from tape archive:
                    </div>
                </div>
                <div class="form-group row">
                    <div class="progress input-group col-sm-12">
                      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="{{archival_state.online_percentage}}" aria-valuemin="0" aria-valuemax="100">{{archival_state.online_percentage}}%</div>
                    </div>
                </div>
            </form>
            {% endif %}

        </div>

        <div class="tab-pane" id="storage" role="tabpanel" aria-labelledby="storage-tab">
          <form>
            <div class="form-group">
              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="enableArchive()"
                      value="true"
                      id="enableArchiveSwitch" {% if archival_state.enabled == 'true' %}checked{% endif %}>
                <label class="custom-control-label" for="enableArchiveSwitch">Enable archiving</label>
              </div>
              <hr>
              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="keepDatasetLocal()"
                      value="true"
                      id="keepLocalSwitch" {% if archival_state.keep_local[0] == 'true' %}checked{% endif %}
                      {% if archival_state.keep_local[2] == False %}disabled{% endif %}>
                <label class="custom-control-label" for="keepLocalSwitch">keep on local storage</label>
              </div>
          
              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="overrideDatasetLocal()"
                      value="true"
                      id="overrideLocalSwitch" {% if archival_state.keep_local[2] == True %}checked{% endif %}>
                      <label class="custom-control-label" for="overrideLocalSwitch">Override inheritance</label>               
              </div>
              <label class="col-form-label">
                {% if not archival_state.keep_local[2] %}
                Set from: {{ archival_state.keep_local[1].htmlstring | safe }}
                {% endif %}
              </label>
              <hr>
              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="keepDatasetOnline()"
                      value="true"
                      id="keepOnlineSwitch" {% if archival_state.keep_online[0] == 'true' %}checked{% endif %}
                      {% if archival_state.keep_online[2] == False %}disabled{% endif %}>
                <label class="custom-control-label" for="keepOnlineSwitch">keep online</label>
              </div>
          
              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="overrideDatasetOnline()"
                      value="true"
                      id="overrideOnlineSwitch" {% if archival_state.keep_online[2] == True %}checked{% endif %}>
                      <label class="custom-control-label" for="overrideOnlineSwitch">Override inheritance</label>               
              </div>
              <label class="col-form-label">
                {% if not archival_state.keep_online[2] %}
                Set from: {{ archival_state.keep_online[1].htmlstring | safe }}
                {% endif %}
              </label>               
            </div>         
          </form>
          <hr>
          <form>
            <div class="form-group">
              {% for i in range(1,5) %}
              <div class="form-check form-check-inline">
                <input class="form-check-input min-copies" type="radio" name="inlineRadioOptions"
                {% if i == (archival_state.min_copies[0] | int) %}
                checked
                {% endif %}
                {% if archival_state.min_copies[2] == False %}
                disabled
                {% endif %}
                id="inlineRadio1" value="{{ i }}" onChange="setMincopies({{ i }})">
                <label class="form-check-label" for="inlineRadio1">{{ i }}</label>
              </div>
              {% endfor %}
              <label class="col-form-label" for="inlineRadio4">copies to store</label>

              <div class="col-sm-4 custom-control custom-switch vertical-down">
                <input type="checkbox" class="custom-control-input" onChange="overrideMincopies()"
                      value="true"
                      id="overrideMincopiesSwitch" {% if archival_state.min_copies[2] == True %}checked{% endif %}>
                      <label class="custom-control-label" for="overrideMincopiesSwitch">Override inheritance</label>               
              </div>
              <label class="col-form-label" >
                {% if not archival_state.min_copies[2] %}
                Set from: {{ archival_state.min_copies[1].htmlstring | safe }}
                {% endif %}
              </label>                                       
            </div>
          </form>
        </div>
        <div class="tab-pane" id="pipeline" role="tabpanel" aria-labelledby="pipeline-tab">
          {% if processrequest == "true" %}
          <h3>Starting up process : {{ processid }}</h3>
          {% else %}
          <table>
            <tr>
              <td>
                <select class="custom-select" style="width:150px;" id="processSelect">
                  {% for p in processes %}
                  <option {% if p == processid %}selected{% endif %}>{{ p }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button class="btn btn-outline-secondary" onClick="startProcess()">START PROCESS</button>
              </td>              
            </tr>
          </table>
          {% endif %}
        </div>
    </div>
</div>
