<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block meta %}

{% endblock %}
<!-- Bootstrap CSS -->
<!-- FROM : https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mymodal.css') }}">
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"-->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-5.15.4/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
<!--link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4-tagsinput/tagsinput.css') }}"-->


<title>iRODS</title>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>

<script src="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

<!--script src="{{ url_for('static', filename='css/bootstrap-table-locale-all.js') }}"></script-->
<script src="{{ url_for('static', filename='css/bootstrap-table.js') }}"></script>
<!--script src="{{ url_for('static', filename='bootstrap4-tagsinput/tagsinput.js') }}"></script -->

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">iRODS</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item active">
     <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
   </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('collbrowser.collbrowser') }}" id="navbarCollection" role="button">
      Data
    </a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('collbrowser.search') }}" id="navbarCollection" role="button">
      Search
    </a>
  </li>  
  {% if 'JOBS' in current_user.features %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('jobs.show_jobs') }}" id="navbarCollection" role="button">
      Jobs
    </a>
  </li>
  {% endif %}
  {% if 'PROJECTS' in current_user.features %}
  <li class="nav-item dropdown">
    <a class="nav-link" href="{{ url_for('projects.show_projects') }}" id="navbarCollection" role="button">
      Projects
    </a>
  </li>
  {% endif %}
  {% if 'MINILIMS' in current_user.features %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_ngs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Vir-ont SmplSh
    </a>
    <div class="dropdown-menu" aria-labbeledby="navbarDropdown_ngs">
      <a class="dropdown-item" href="/ngsruns/new">New run</a>
      <a class="dropdown-item" href="{{ url_for('ngsruns.run_list') }}">Run List</a>
    </div>
  </li>
  {% endif %}
{% if current_user.is_admin  %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </a>
    <div class="dropdown-menu" aria-labbeledby="navbarDropdown">
      <a class="dropdown-item" href="/users">Users</a>
      <a class="dropdown-item" href="/groups">Groups</a>
      <a class="dropdown-item" href="{{ url_for('admin.resources') }}">Resources</a>
      <a class="dropdown-item" href="/admin/queues">Runsheet queues</a>
      <a class="dropdown-item" href="/admin/issues">Data issues</a>
      <a class="dropdown-item" href="{{ url_for('admin.archive_issues') }}">Archive issues</a>
    </div>
  </li>  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reports
    </a>
    <div class="dropdown-menu" aria-labbeledby="navbarDropdown">
      <a class="dropdown-item" href="/reports/space">Disk Space</a>
    </div>
  </li>    
{% endif %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cluster
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropwdown">
      <a class="dropdown-item" href="{{ url_for('cluster.info') }}">Cluster Information</a>
    </div>
  </li>
<!--  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      HPCinfo
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropwdown">
      <a class="dropdown-item" href="/hpcinfo">HPC Information</a>
    </div>
  </li>
-->
   <li class="nav-item active">
     <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout<span class="sr-only">(current)</span></a>
   </li>
  </ul>
  <span class="navbar-txt">
     {%if current_user.is_authenticated %}
     {{ current_user.username }}@{{ current_user.irods_server }}
     {% endif %}
  </span>

  
</div>
</nav>

<div class="page-wrapper">
<div class="container-wide bg-light"><p class="text-center">
<div class="card">
{% block heading %}

{% endblock %}
</div>
<p> </div> </div>
<div class="page-wrapper">
<div class="container-wide">
{% block content %}

{% endblock %}
</div>
</div>

</body>
</html>
