{% extends 'base2.html' %}
 
{% block heading %}
<H2>Collection browser : {{ path }}</H2>
{% endblock %}

{% block content %}

<script>
function fillModal(path, name) {
    var ModalHeader =  document.getElementById("DocTitle")
    DocTitle.innerHTML = name 
    var modalEmbed =  document.getElementById("DocText")
    newEmbed = modalEmbed.cloneNode(true)
    source = "{{ url_for('docviewer.serve_object') }}?path=" + path
    newEmbed.setAttribute('src', source)
    modalEmbed.parentNode.replaceChild(newEmbed, modalEmbed)
}  

</script>

<a href="/collbrowser?action=up&path={{ path }}"><button type="button" class="btn btn-outline-secondary">UP</button></a>

<div class="card border-primary mb-3">
    <div class="card-header">
        <a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse-upload" role="button" aria-expanded="false" aria-controls="collapse-upload">
        Upload
        </a>
    </div>
    <div class="card card-body">
        <div class="collapse" id="collapse-upload">
            <form action = "{{ url_for('collbrowser.upload_file')}}" method = "POST" enctype = "multipart/form-data">
                <div class="form-group">  
                    <input type="hidden" id="collection" name="collection" value ="{{ path }}">
                </div>
                <div class="form-group">  
                    <input type = "file" class="form-control" name = "file" />
                </div>  
                <div class="form-group">  
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>  
            </form>
        </div>
    </div>
</div>

{% if avu|length > 0 %}

<div class="card border-primary mb-3">
    <div class="card-header">
        <a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse-meta" role="button" aria-expanded="false" aria-controls="collapse-meta">
        Collection metadata
        </a>
    </div>
    <div class="card card-body" >
        <div class="collapse" id="collapse-meta">
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>


{% for entry in avu %}
<tr>
    <td> {{ entry.name }} </td>
    <td> {{ entry.value }} </td>
    <td> {{ entry.units }} </td>
</tr>
{% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}


<div class="card border-primary mb-3">
   <div class="card-header">
      <a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse-contents" role="button" aria-expanded="false" aria-controls="collapse-contents">
        Collection contents
      </a>
   </div>
   <div class="card card-body">
      <div class="collapse show" id="collapse-contents">
         <table class="table table-sm table-striped table-hover">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Size</th>
                  <th>Create_Date</th>
                  <th>Owner_Name</th>
               </tr>
            </thead>
            <tbody>

{% for entry in cols %}
<tr 
{% if entry.type == "temporary" %}
class="table-warning"
{% elif entry.type == "invalid" %}
class="table-danger"
{% endif %}>
    <td> <a href="/collbrowser?path={{ entry.path }}">{{ entry.name }}</a> </td>
    <td> DIR </td> <td> {{ entry.datetime }} </td> <td> {{ entry.ownername }} </td>
</tr>
{% endfor %}

{% for entry in objs %}
<tr><td>
<a data-toggle="modal" data-target="#myOutput" onclick="fillModal('{{ entry.path }}','{{ entry.name}}')">{{ entry.name }}</a>
<!-- <a href="/docviewer?path={{entry.path}}">{{ entry.name }}</a> -->
</td>
<td>
{{ entry.size}}
</td>
<td>
{{ entry.create_time}}
</td>
<td>
{{ entry.owner_name}}
</td>
</tr>
{% endfor %}
            </tbody>
          </table>
       </div>
    </div>   
</div>

<div class="modal modal-tall" id="myOutput" role="dialog" >
    <div class="modal-dialog modal-xl" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" height="30%">
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title" id="DocTitle">Modal Header</h4>
        </div>
        <div class="modal-body" id="mBody" height="100%" id="modalBody">
        
            <embed width="100%" height="100%" src="" id ="DocText">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- PROJECT GROUPS --!>
{% if rel_colls|length > 0 %}

<div class="card border-primary mb-3">
    <div class="card-header">
        <a class="btn btn-outline-secondary text-left" data-toggle="collapse" href="#collapse-related" role="button" aria-expanded="false" aria-controls="collapse-related">
        Related output collections groups
        </a>
    </div>
    <div class="card card-body">
        <div class="collapse" id="collapse-related">
            <TABLE class="table table-striped table-hover table-sm" >
                <thead>
                    <TR>
                        <TH scope="col">Name</TH>
                    </TR>
                </thead>
                <tbody>
{% for coll in rel_colls %}
                    <tr>
                        <td>
                            <a href="/collbrowser?path={{coll}}">
{{ coll }}
                            </a>
                        </td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}


