<table class="table table-sm table-striped table-hover">
   <thead>
      <tr>
         {% if show == True %}
            {% set datafields = (('Name', 'name'), ('Description', 'display_field'), ('Size', 'size'), ('Create_Date', 'create_time'), ('Owner_name', 'owner_name')) %}
         {% else %}
            {% set datafields = (('Name', 'name'), ('Size', 'size'), ('Create_Date', 'create_time'), ('Owner_name', 'owner_name')) %}
         {% endif %}
         {% for field in datafields %}
            <th>
               {{ field[0] }}
               {% if sortkey == field[1] and reverse == False %}▲{% else %}
                  <span class="sort-change" data-key="{{ field[1] }}" data-dir="false">▲</span>
               {% endif %}
               {% if sortkey == field[1] and reverse == True %}▼{% else %}
                  <span class="sort-change" data-key="{{ field[1] }}" data-dir="true">▼</span>
               {% endif %}
            </th>
         {% endfor %}
         <th></th>
      </tr>
   </thead>
   <tbody>

      {% for entry in cols %}
         <tr 
            {% if entry.type == "temporary" %}
               class="table-warning"
            {% elif entry.type == "invalid" %}
               class="table-danger"
            {% endif %}>
            <td> <span class="path-change" data-path="{{ entry.path }}">{{ entry.name }}</div> </td>
            {% if show == True %}
               <td>  {{ entry.display_field }} </td>
            {% endif %}
            <td> DIR </td> <td> {{ entry.create_time }} </td> <td> {{ entry.owner_name }} </td>
            <td></td><td></td>
         </tr>
      {% endfor %}

      {% for entry in objs %}
         <tr class="objectrow" data-objectname="{{ entry.name }}">
            <td class="objectname" data-objectname="{{ entry.name }}">
               {{ entry.name }}
               {% if show == True %}
                  <td>  {{ entry.display_field }} </td>
               {% endif %}
            </td>
            <td>
               {{ entry.size}}
            </td>
            <td>
               {{ entry.create_time}}
            </td>
            <td>
               {{ entry.owner_name}}
            </td>
            <td>
               {% if options.download_btn == True %}
                  <a href="{{ url_for('docviewer.download_object') }}?path={{entry.path}}">
                     <IMG src="{{ url_for('static', filename='img/download-button.png' ) }}" class="mybutton">
                  </a>
               {% endif %}
            </td>
            <td>
               {% if options.view_btn == True %}
                  <a data-toggle="modal" data-target="#myOutput" onclick="fillModal('{{ entry.path }}','{{ entry.name}}')">
                     <IMG src="{{ url_for('static', filename='img/view-button.png' ) }}" class="mybutton">
                  </a>
               {% endif %}               
            </td>
            <td>
               {% if options.delete_btn == True %}
                     <IMG src="{{ url_for('static', filename='img/delete-button.png' ) }}" class="mybutton deletebutton" data-path="{{entry.path}}">
               {% endif %}
            </td>
         </tr>
      {% endfor %}
   </tbody>
</table>

<script>

var event = new CustomEvent("collchange", { "detail" : "Collection contents changed" });

$('.objectname').on('click', function() {
   selected_object = $(this).data('objectname')
   $('.objectrow').removeClass('table-primary')
   $('tr[data-objectname="' + selected_object + '"]').addClass('table-primary')
   load_meta()
});

$('.deletebutton').on('click', function() {
   $(this).attr('src', "{{ url_for('static', filename='img/progress-icon.jpg' ) }}");
   $.post("{{ url_for('collbrowser.delete_file') }}",
    { path: $(this).data('path') }, function(response) {
         document.dispatchEvent(event);
    }
   );
});

</script>