{% extends 'base2.html' %}

{% block heading %}
<H3><b>Collection:</b> <span id="path_title"></span>
  <div class="btn-group float-right">
    <button id="path_copy" type="button" data-toggle="tooltip" data-placement="bottom" class="btn btn-sm btn-outline-secondary" title="copy WebDav path to clipboard">
      <i class="fa fa-clipboard"></i>
      <!--span class="visually-hidden">Button</span-->
    </button>
    <button id="path_open" type="button" data-toggle="tooltip" data-placement="bottom" class="btn btn-sm btn-outline-secondary" title="open collection in new tab">
      <i class="fa fa-folder"></i>
      <!--span class="visually-hidden">Button</span-->
    </button>
  </div>
</H3>
{% endblock %}

{%block menuname %}
menuname='collectionbrowser'
{% endblock %}

{% block content %}

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: false,
    securityLevel: 'loose',
    maxTextSize: 256000,
    flowchart: {
//      defaultRenderer: 'elk',
//      curve: 'linear',
      htmlLabels: false
    }
  })
  window.mermaid = mermaid;
</script>

<script>

  var collection = "{{ path }}";
  var graph_levels = "{{ graph_levels }}";
  var graph_simplify = "{{ graph_simplify }}"
  var sortkey = "";
  var reverse = "";
  var activetab = "#archive";
  var selected_object = "";
  var waiting = '<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>'

  var myDefaultWhiteList = $.fn.tooltip.Constructor.Default.whiteList
  $(function() {
    $.fn.popover.Constructor.Default.whiteList.table = [];
    $.fn.popover.Constructor.Default.whiteList.tr = [];
    $.fn.popover.Constructor.Default.whiteList.td = [];
    $.fn.popover.Constructor.Default.whiteList.div = [];
    $.fn.popover.Constructor.Default.whiteList.tbody = [];
    $.fn.popover.Constructor.Default.whiteList.thead = [];  
  })
  myDefaultWhiteList.span = ['data-path']

  function downloadURI(uri, name) {
    var link = document.createElement("a");
    link.download = name;
    link.href = uri;
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    delete link;
  }

  function download_wrapper(path) {
    $.get("{{ url_for('docviewer.test_access') }}?path=" + encodeURIComponent(path), function(result) {
      if (result["access"] == "GRANTED" ) {
        source = "{{ url_for('docviewer.download_object') }}?path=" + encodeURIComponent(path)
        filename = path.replace(/^.*[\\\/]/, '')
        downloadURI(source, filename)  
      } else {
        $('#alertTitle').html('Access Denied')
        $('#alertBody').html("<center>You don't have permissions to access " + decodeURIComponent(path) + "</center>")
        $('#modalAlert').modal()
      }
    })
  }

  function showModal(path, name) {
    $.get("{{ url_for('docviewer.test_access') }}?path=" + encodeURIComponent(path), function(result) {
      if (result["access"] == "GRANTED" ) {
        $('#DocTitle').html(name)
        source = "{{ url_for('docviewer.serve_object') }}?path=" + encodeURIComponent(path)
        newEmbed = '<embed src="' + source + '" width="100%" height="100%" id="DocText" >'
        $('#mBody').html(newEmbed)
        $('#myOutput').modal()
      } else {
        $('#alertTitle').html('Access Denied')
        $('#alertBody').html("<center>You don't have permissions to access " + decodeURIComponent(path) + "</center>")
        $('#modalAlert').modal()
      }
    })
  }
  


  function avu_table() {
    if ( $("#metatoggle").is(':checked') ) {
      d2 = 'table-cell';
      d1 = 'none'
    } else {
      d1 = 'table-cell';
      d2 = 'none'
    }
    $('.rawvalues').css('display', d1);
    $('.formatvalues').css('display', d2);
  }

  function build_title() {
    path_elem = collection.split('/')
    var i;
    title = ''
    path = ''
    for (i = 1; i < path_elem.length; i++) {
      path += '/' + path_elem[i];
      title += '/' + '<span class="path-change" data-path="' +
        path + '">' + path_elem[i] + '</span>'
    }
    $("#path_title").html(title)
    $('#path_copy').on('click', copy_to_clipboard);
    $('#path_open').on('click', open_in_browser);
  }

  function get_webdav_path( irods_path, protocolPrefix, add_ssl, seperator ) {
    var path_elem = irods_path.split('/')
    path_elem.shift()
    path_elem.shift()
    var path_without_zone = path_elem.join(seperator)
    var path = protocolPrefix + "rivm-bioir-l03p.rivm.ssc-campus.nl"
    if( add_ssl ) path += "@SSL" 
    path += seperator + path_without_zone;
    console.log(path)
    return path
  }

  // solution for copy to clipboard for unsecure pages: 
  // https://stackoverflow.com/questions/71873824/copy-text-to-clipboard-cannot-read-properties-of-undefined-reading-writetext
  function unsecuredCopyToClipboard(text) { 
    const textArea = document.createElement("textarea"); 
    textArea.value=text; 
    document.body.appendChild(textArea); 
    textArea.focus();
    textArea.select(); 
    textArea.setSelectionRange(0, 99999);
    try{
      document.execCommand('copy')
    }
    catch(err){
      console.error('Unable to copy to clipboard',err)
    }
    document.body.removeChild(textArea)
  };

/**
 * Copies the text passed as param to the system clipboard
 * Check if using HTTPS and navigator.clipboard is available
 * Then uses standard clipboard API, otherwise uses fallback
*/
  function copy_to_clipboard() {
    var seperator = "/";
    var addSSL = false;
    var protocolPrefix = "davs://"
    //console.log("OperatingSystem:" + navigator.appVersion)
    if (navigator.appVersion.indexOf("Win") != -1 ) {
      seperator = "\\";
      var protocolPrefix = "\\\\"
      addSSL = true;
    }
    var path = get_webdav_path( collection, protocolPrefix, addSSL, seperator )
    if (window.isSecureContext && navigator.clipboard) {
      navigator.clipboard.writeText( path )
    } else {
      console.log("unsecure connection, try workaround for clipboard access")
      unsecuredCopyToClipboard(path);
    }
  }

  function open_in_browser() {
    var path = get_webdav_path( collection, "https://", false, "/" )
    //window.open( "davs:"+path, '_blank');  would open xdg on linux or win scp
    window.open( path, '_blank');
    //window.open( "webdavs:"+path, '_blank');
  }

  function show_graph(data) {
    $('#graphimg').html(data.svg)
    $('.node').each(function() {
      name = $(this).attr('id').split('-').slice(1,-1).join('-')
      if (name.startsWith('G')) {
          name = $(this).find('tspan').first().text()
      }
      $(this).attr('title', name).tooltip()
    })
    size_graph()
  }

  function graph_error() {
    $('#graphimg').html('<CENTER>LOAD FAILED</CENTER>')
  }

  function load_graph() {
    $('#graphimg').html(waiting);
    $.get('{{ url_for('collbrowser.generate_graph') }}', {
      path: collection,
      levels: graph_levels,
      graph_simplify: graph_simplify
    }, async function (data) {
       window.mermaid.render('harry', data).then(show_graph, graph_error);
      }
    )}

  function size_graph() {
    centertop = 0
    if ($('.label').length !== 0) {
      centertop = $('.center-coll').offset().top
    }
    let top = centertop + $('#graphimg').scrollTop() - $('#graphimg').offset().top - $('#graphimg').height() / 2
    $('#graphimg').scrollTop(top)
    if (top < 0) {
      if ($('svg').height() < $('#graphimg').height()) {
        $('svg').addClass('vertical-center');
      }
    } else {
      $('#graphimg').scrollTop(top);
    }
    $('svg').width($('#graphimg').width()*0.95)
  }

  function load_list(new_path) {
    $('#collapse-contents').html(waiting)
    $.get('{{ url_for('collbrowser.collist') }}', {
      path: collection,
      sortkey: sortkey,
      reverse: reverse,
      new_path: new_path,
      download_btn: "true"
    }, function (data) {
      $('#collapse-contents').html(data)
    });
  }


  function load_tree() {
    $.get('{{ url_for('collbrowser.colltree') }}', {
      active: collection
    }, function (data) {
      $('#treeview').html(data)
    });
  }

  function tree_active() {
    $('.path-active').removeClass('path-active');
    $(".tree-label[data-path='" + collection + "']").addClass('path-active');
  }

  function load_actions() {
    $('#collapse-actions').html(waiting)
    $.get('{{ url_for('collbrowser.coll_actions') }}', {
      path: collection
    }, function (data) {
      $('#collapse-actions').html(data)
      $('#collection').val(collection)
      $('.nav-tabs li a[href="' + activetab + '"]').tab('show')
    });
  }

  function set_path() {
    $('.collist').popover('dispose')
    load_list(true);
    load_graph();
    load_meta();
    build_title();
    tree_active();
    load_actions();
  }

  function load_meta() {
    $('#meta-card').html(waiting)
    $.get('{{ url_for('collbrowser.coll_meta') }}', {
      path: collection,
      object: selected_object
    }, function (data) {
      $('#meta-card').html(data)
    })
  };

  $(document).on('click', '.path-change', function () {
    $('.tooltip').tooltip('hide')
    $('.flash_bar').remove()
    collection = (this.nodeName == "g" ? this.id : $(this).data('path'));
    if (collection.startsWith('flowchart-')) {
      collection = collection.split('-').slice(1, -1).join('-')
    }
    history.pushState({ "coll": collection }, 'Browse ' + collection, '/collbrowser?path=' + collection);
    if (typeof collection == 'undefined') {
      collection = $(this).attr('id')
    }
    set_path();
    $.post('{{ url_for("userinfo.usersetting") }}', {
      attr: 'path',
      value: collection
    })    
  });

  $(document).on('change', '#graph_simplify', function () {
    graph_simplify = (+ $(this).is(':checked')).toString()
    console.log(graph_simplify)
    $.post('{{ url_for("userinfo.usersetting") }}', {
      attr: 'graph_simplify',
      value: graph_simplify
    })
    load_graph()
  })

  $(document).on('change', '#graphlevels', function () {
    graph_levels = $(this).val();
    $.post('{{ url_for("userinfo.usersetting") }}', {
      attr: 'graph_levels',
      value: graph_levels
    })
    load_graph()
  })

  $(window).on('load', function () {
    set_path();
    load_tree();
  });


  $(document).on('click', '.sort-change', function () {
    sortkey = $(this).data('key');
    reverse = $(this).data('dir');
    load_list(false);
  });

  $(document).on('click', function (e,f,g) {
    $('.collist').popover('hide');
  });

  $(document).on('click', '.collist', function (e) {
    myid = e.currentTarget.id
    if (myid.startsWith('flowchart-')) {
      myid = myid.split('-').slice(1, -1).join('-')
    }    
    query = myid.substring(0, 2)
    coll = myid.substring(3)
    $myel = $(this)
    $.get('{{ url_for('collbrowser.multi_list') }}', {
      collection: coll,
      q: query
    }, function (data) {
      $myel.popover('dispose');
      $myel.popover({
        trigger: 'focus',
        placement: 'bottom',
        html: true,
        title: 'Collections',
        content: data
      })
      $myel.popover('show');
    })
  });


  window.onpopstate = function (event) {
    collection = event.state.coll;
    set_path();
  }

</script>

<div id="data_map"></div>

<div class="browsergrid h100">

  <div class="card border-primary browser-sidebar">
    <div class="card-header">
      <div class="card-title"><b>Collection tree</b></div>
    </div>
    <div class="card-body scrollbar-y small-font h-100">
      <div id="treeview">
      </div>
    </div>
  </div>

  <div class="card browser-graph h100">
    <div class="card-header">
      <div class="card-title">Data graph</div>
      <form class="form-inline float-right">
        <div class="form-group" style="gap:4px">
          <label for="graph_simplify">Simplify</label>
          <INPUT class="hspace" type="checkbox" id="graph_simplify" {% if graph_simplify == "1" %}checked{% endif %}>
          <label for="graphlevels">Graph Levels</label>
          <INPUT type="number" class="form-control" min="0" max="10" name="graphlevels" id="graphlevels"
            value="{{ graph_levels }}">
        </div>
        <div class="card-tools inline float-right">
          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
          <!-- This will cause the card to collapse when clicked -->
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </form>
    </div>
    <div class="card-body h-100 nopadding" id="graphdiv">
      <div id="graphimg" class="h-100 nopadding scroll"></div>
    </div>
  </div>

  <div class="card browser-contents h-100" id="collapse-contents">
      <div class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
  </div>

  <div id="collapse-actions" class="card card-tabs browser-actions h-100">
    <div class="overlay">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>

  <div class="card browser-meta" id="meta-card">

  </div>

</div> <!-- browsergrid-->

<script>
  $('#treeview').on('click', '.list-close', function () {
    $(this).addClass('caret-down list-open');
    $(this).removeClass('list-close');
    myid = $(this).attr('id')
    $.get('{{ url_for('collbrowser.colltree') }}', {
      active: '{{ path }}',
      root: $(this).data('path')
    }, function (data) {
      $('#' + $.escapeSelector(myid)).parent().after(data);
    });
  });

  $('#treeview').on('click', '.list-open', function () {
    $(this).removeClass('caret-down list-open');
    $(this).addClass('list-close');
    sublistid = $(this).attr('id').substr(2);
    $('#' + $.escapeSelector(sublistid)).html('');
  });
</script>

</nav>

<div id="content">

  <script>
    $('#sidebar').on('click', '.list-close', function () {
      $(this).addClass('caret-down list-open');
      $(this).removeClass('list-close');
      myid = $(this).attr('id')
      $.get('{{ url_for('collbrowser.colltree') }}', {
        active: '{{ path }}',
        root: $(this).data('path')
      }, function (data) {
        $('#' + $.escapeSelector(myid)).parent().after(data);
      });
    });

    $('#sidebar').on('click', '.list-open', function () {
      $(this).removeClass('caret-down list-open');
      $(this).addClass('list-close');
      sublistid = $(this).attr('id').substr(2);
      $('#' + $.escapeSelector(sublistid)).html('');
    });
  </script>


<!-- Alert modal dialog -->
  <div class="modal" id="modalAlert" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <!--            <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h5 class="modal-title" id="alertTitle">Alert</h5>
          <button type="button" class="btn btn-default btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" id="alertBody">
            Alert
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Document viewer modal dialog -->
  <div class="modal modal-tall" id="myOutput" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <!--            <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h5 class="modal-title" id="DocTitle">Modal Header</h5>
          <button type="button" class="btn btn-default btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body" id="mBody">
          <embed src="" width="100%" height="100%" id="DocText">
        </div>
      </div>
    </div>
  </div>

  <!-- Upload modal modal dialog -->
  <div class="modal" id="upload" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uDocTitle">Modal Header</h5>
          <button type="button" class="btn btn-default btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body" id="umBody">
          <form action="{{ url_for('collbrowser.upload_file')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input type="hidden" id="collection" name="collection" value="{{ path }}">
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- content -->

<script>

var graph_width = 0;

var ro = new ResizeObserver( entries => {
  w = $("#graphimg").width();
  if (w != graph_width) {
    graph_width = w;
    size_graph();
  }
});

ro.observe(document.querySelector("#graphimg"));

</script>

{% endblock %}