{% extends 'base2.html' %}
  
{% block heading %}
<H2>
Details of group <B>{{ group }}</B>
</H2>
{% endblock %}

{% block content %}
<div class="h-100 scroll">
<TABLE class="table">
<THEAD class="thead-dark">

<TR>
   <TH>Username</TH>
   <TH>email address</TH>
   <TH>Department</TH>
</TR>  
<THEAD>
{% for key, value in ginfo.items()|sort %}
{% if value["serviceaccount"] == False %} 
<TR>
   <TD> {{ key }} </TD>
   <TD> {{ value["sys::ad::mail"] }} </TD>
   <TD> {{ value["sys::ad::department"] }} </TD>
</TR>
{% endif %}
{% endfor %}
</TABLE>
<hr>

<H2>Service accounts in group {{ group }}:</H2><br>

<TABLE class="table">
<THEAD class="thead-dark">

<TR>
   <TH>Username</TH>
</TR>  
<THEAD>
{% for key, value in ginfo.items()|sort %}
{% if value["serviceaccount"] == True %} 
<TR>
   <TD> {{ key }} </TD>
</TR>
{% endif %}
{% endfor %}
</TABLE>

</div>
{% endblock %}

