{% extends 'base2.html' %}
  
{% block heading %}
<H2>
Details of group <B>{{ group }}</B>
</H2>
{% endblock %}

{% block content %}
<TABLE class="table" border=1>
<TR>
   <TH>Username</TH>
   <TH>email address</TH>
   <TH>Department</TH>
</TR>  
{% for key, value in ginfo.items()|sort %}
{% if value["serviceaccount"] == False %} 
<TR>
   <TD> {{ key }} </TD>
   <TD> {{ value["sys::ad::mail"] }} </TD>
   <TD> {{ value["sys::ad::department"] }} </TD>
</TR>
{% endif %}
{% endfor %}
</TABLE>
<hr>
Service accounts in group {{ group }}:<br>
{% for key, value in ginfo.items()|sort %}
{% if value["serviceaccount"] == True %} 
   - {{ key }}<br>
{% endif %}
{% endfor %}

{% endblock %}

