{% extends 'base2.html' %}
  
{% block header %}
<h2>{% block title %}iRODS{% endblock %}</h2>
{% endblock %}

{% block content %}

<script>
$(window).on('load', function() {
  $.get('{{ url_for('projects.my_projects') }}', { }, function(data) {
    $('#myprojects').html(data)
  });
});
</script>

<p class="text-center">iRODS Web Portal</p>

<div >

  <div class="card border-primary mb-3" style="width: 25rem;">
    <div class="card-header">
      Quick Links
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><A href={{ url_for('collbrowser.collbrowser') + '?path=/' + current_user.irods_zone + '/home/' + current_user.username}}>Home collection</a></li>
        <li class="list-group-item"><A href={{ url_for('collbrowser.collbrowser') + '?path=/' + current_user.irods_zone + '/projects' }}>Project Data</a></li>
      </ul>
    </div>
  </div>
  {% if 'NONACRIS' in current_user.features %}
  <div class="card border-primary mb-3" style="width: 25rem;">
    <div class="card-header">
  Kiemsurveillance
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ url_for('upload.upload_page') }}">Upload data</a></li>
      </ul>
    </div>
  </div>
  {% endif %}

  {% if 'PROJECTS' in current_user.features %}
  <div class="card border-primary mb-3" style="width: 25rem;">
    <div class="card-header">
      My Projects
    </div>
    <div class="card-body" id="myprojects">
      <IMG SRC="{{ url_for('static', filename='img/loading.gif') }}"></IMG>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

