{% extends 'base2.html' %}
  
{% block header %}
<h2>{% block title %}iRODS{% endblock %}</h2>
{% endblock %}

{% block content %}
<p class="text-center">iRODS Web Portal</p>


<div class="card border-primary mb-3" style="width: 18rem;"">
    <div class="card-header">
Quick Links
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><A href={{ url_for('collbrowser.collbrowser') + '?path=/rivmZone/home/' + current_user.username}}>Home collection</a></li>
  </ul>
</div>


{% endblock %}

