{% extends 'base2.html' %}

{% block meta %}
<meta http-equiv="refresh" content="30">  
{% endblock %}

{% block heading %}
<h3>Job queue overview</h3>
{% endblock %}

{%block menuname %}
menuname='joblist'
{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<!-- RUNSHEET JOB TABLE STARTS HERE -->
<div class="card h-100">
  <div class="card-header">
    <div class="dropdown" style="display:inline">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {{ items }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/jobs?items=incoming">Incoming</a>
        <a class="dropdown-item" href="/jobs?items=prepare">Prepare</a>
        <a class="dropdown-item" href="/jobs?items=queued">Queued</a>
        <a class="dropdown-item" href="/jobs?items=active">Active</a>
        <a class="dropdown-item" href="/jobs?items=postprocessing">Post-processing</a>
        <a class="dropdown-item" href="/jobs?items=done">Done</a>
        <a class="dropdown-item" href="/jobs?items=notrun">Notrun</a>
        <a class="dropdown-item" href="/jobs?items=waiting">Waiting</a>
        <a class="dropdown-item" href="/jobs?items=error">Error</a>
        <a class="dropdown-item" href="/jobs?items=all">All</a>
      </div>
    </div>
    <div class="buttonbar" style="display:inline">
      {% for button in buttons %}
      <a class="btn {{ button['class'] }}" {{ button['ref'] | safe }} role="button"> {{ button['text'] }} </a>
      {% endfor %}
    </div>
  </div>
<div class="card-body scroll">
<TABLE class="table table-striped table-hover table-sm">
<thead class="thead-dark">
<TR>
{% for column in columns %}
<TH scope="col">{{ column }}</TH>
{% endfor %}
<!--
<TH>Actions</TH>
</TR>
-->
</thead>
<tbody>
{% for entry in joblist %}
    {% if entry.State.value in ("incoming", "stage", "depends") %}
      <TR class="table-light">
    {% elif entry.State.value == "prepare" %}
      <TR class="table-info">
    {% elif entry.State.value == "queued" %}
      <TR class="table-active">
    {% elif entry.State.value == "startup" %}
        <TR class="table-info">
    {% elif entry.State.value == "active" %}
      <TR class="table-primary">
    {% elif entry.State.value == "postprocessing" %}
      <TR class="table-info">
    {% elif entry.State.value == "finishing" %}
      <TR class="table-dark">
    {% elif entry.State.value == "waiting" %}
      <TR class="table-warning">
    {% else %}
      {% if "Result" in entry and entry["Result"].value == 0 %}
        <TR class="table-success">
      {% else %}
        <TR class="table-danger">
      {% endif %}
    {% endif %}
    {% for column in columns %}    
        <TD>
        {% if column in entry %}
        {{ entry[column].htmlshort|safe}}
        {% endif %}</TD>
        
    {% endfor %}
<!--    
    <td>
{% if entry.State != 'done' %}
        <button class="btn btn-secondary btn-sm" type="button" id="resubmitButton" aria-haspopup="true" aria-expanded="false">End</button>
{% else %}
        <button class="btn btn-secondary btn-sm" type="button" id="resubmitButton" aria-haspopup="true" aria-expanded="false">Resubmit</button>
{% endif %}        
    </td>
-->    
    </TR>
{% endfor %}
</tbody>
 </TABLE>
</div>

</div>
{% endblock %}

