{% extends 'jobsmenu.html' %}

{% block meta %}
<meta http-equiv="refresh" content="30">  
{% endblock %}

{% block heading %}
<h3>Job queue overview</h3>
{% endblock %}

{%block menuname %}
menuname='joblist'
{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<table id="jobtable"
  data-buttons-prefix="btn"
  data-classes='table table-bordered table-hover table-striped'
  data-filter-control="true"
  data-id-field='name'
  data-page-list=[15,25,50,100]
  data-page-size=15
  data-pagination='true'
  data-row-style="rowStyle"
  data-search="true"
  data-show-columns="true"
  data-show-filter-control-switch="true"
  data-custom-sort="sorter"
  data-sort-name="pgstart"
  data-sort-order="desc">
</table>

<script>
$(function() {
  $.get('{{ url_for("jobs.pgjobs", filters="true") }}', function(data) {
    $('table#jobtable').bootstrapTable({
      columns: data['columns'],
      data: data['rows']
      })
      // for (const [key, value] of Object.entries(data['filters'])) {
      //   console.log('Find .bootstrap-table-filter-control-' + key + ' and set ' + value)
      //   $('.bootstrap-tablex-filter-control-' + key).val(value)
      // }
      // $('table#jobtable').bootstrapTable('triggerSearch');
    })
  });

  $('table#jobtable').on('column-search.bs.table', function(e, column, value) {
      $.post('{{ url_for("userinfo.usersetting") }}', {
          attr: 'jobs::filter::' + column,
          value: value
      })
  });

  function rowStyle(row, index) {
      var styles = {
          'done': 'table-success',
          'error': 'table-danger',
          'active': 'table-info'
      };
      if (row['state'] == 'done' && row['exit_code'] != 0) {
        return {
          classes: 'table-danger'
      }        
      }
      return {
          classes: styles[row['state']]
      }
  }

  function sorter(field, sortOrder, data){
        var order = sortOrder === 'desc' ? -1 : 1
        data.sort(function (a, b) {
            var aa = a['_'+field]
            var bb = b['_'+field]
            if (aa<bb){
                return order * -1 
            }
            if (aa>bb) {
                return order
            }
            return 0
        })
    }
  
</script>
{% endblock %}

