{% extends 'jobsmenu.html' %}

{% block meta %}
{% endblock %}

{% block heading %}
<h3>
    <div class="inline">Job queue overview</div>
    <div class="float-right header-right">
        Last refresh: <div class="refresh-time">... loading ...</div>
    </div>
</h3>
{% endblock %}

{%block menuname %}
menuname='jobs'
{% endblock %}

{% block content %}
<div class="h-100">
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

<table id="jobtable" 
      data-buttons-prefix="btn" 
      data-classes='table table-bordered table-hover table-striped'
      data-filter-control="true" 
      data-id-field='name' 
      data-page-list=[15,25,50,100] 
      data-page-size=15
      data-pagination='true' 
      data-row-style="rowStyle" 
      data-search="false" 
      data-url='{{ url_for("jobs.jobs") }}'
      data-side-pagination='server' 
      data-show-columns="true" 
      data-show-filter-control-switch="true"
      data-custom-sort="sorter" 
      data-sort-name="create_time" 
      data-sort-order="desc" 
      data-toggle="table"
      data-auto-refresh='true' 
      data-auto-refresh-interval='30'
      data-show-auto-refresh="false">
        <thead>
            <tr>
                {% for c in columns %}
                <th class="jobcolumn"
                    data-field="{{columns[c]['field']}}" 
                    data-align="left" 
                    data-sortable="{{columns[c]['sortable']}}"
                    data-visible="{{columns[c]['visible']}}" 
                    data-filter-control="{{columns[c]['filtercontrol']}}" 
                    {% if columns[c]['filtercontrol']=="select" %}
                        data-filter-data='url:{{ url_for("jobs.filterdata", field=columns[c]["field"], table="rivm_mat_jobtable") }}'
                    {% endif %}
                    
                    {% if columns[c]['field']=="projectid" %}
                           data-filter-default="{{default_project}}"
                    {% endif %}>
                    {{columns[c]['title']}}
                </th>
                {% endfor %}
            </tr>
        </thead>
    </table>

    <script>

        $(function(){

            //console.log( "default_project at page-load: {{default_project}}")
            //$.get(' url_for("jobs.default_project") ', function(dp) {
            //    console.log( "default project from backend:" + dp )
            //})

            $table=$('#jobtable')
            $table.bootstrapTable('showAllColumns');
            
            //at initial load the default-filter is set by the data-filter-default attribute
            //at each reload this filter MUST NOT be there anymore, otherwise the table will revert to an old state
            $('table#jobtable').on('post-header.bs.table', function ($data) {
                $( ".jobcolumn[data-field=projectid" ).removeAttr( 'data-filter-default' )
            })

            //This code would set the filter via JS, works in the browser but seems to be overwritten when executed on 'post-body'
            //https://copyprogramming.com/howto/bootstrap-table-with-filter-control-and-server-site
            // $('table#jobtable').on('post-body.bs.table', function ($data) {
            //         console.log("post-body")
            //         if( initial_bs_load ) {
            //             initial_bs_load = false
            //             //https://github.com/wenzhixin/bootstrap-table/issues/5859
            //             console.log( "default_project: {{default_project}}" )
            //             console.log( "available filter options: " + $( ".bootstrap-table-filter-control-projectid option" ).length )
            //             $( ".jobcolumn[data-field=projectid" ).attr( 'data-filter-default', "{{default_project}}")
            //             $( ".bootstrap-table-filter-control-projectid option[value='{{default_project}}']").prop('selected', true)
            //             $( ".bootstrap-table-filter-control-projectid" ).val( "{{default_project}}" )
            //             $( ".bootstrap-table-filter-control-projectid" ).change()
            //             console.log( "triggered change event")
            //         }
            //    }
            // )

            all_columns = {{ columns.values() | map(attribute='field') | list | safe }}
            visible_columns = {{ visible_columns | safe }};
            all_columns.forEach(element => {
                if (!visible_columns.includes(element)) {
                    $table.bootstrapTable('hideColumn', element)
                }
            })

            $('table#jobtable').on('load-success.bs.table', function (e, index, row, $data) {
                 $.get('{{ url_for("jobs.jobs_refresh") }}', function(data) {
                     $('.refresh-time').html(data);
                 })    
            })

            $('table#jobtable').on('column-switch.bs.table', function (e, field, checked) {
                visible_fields = $("th.jobcolumn").map(function(){return $(this).data('field') ;}).get();
                $.post('{{ url_for("userinfo.usersetting") }}', {
                    attr: 'jobs::columns',
                    value: JSON.stringify(visible_fields)
                })
            })


        })
            
        function rowStyle(row, index) {
            var styles = {
                'done': 'table-success',
                'error': 'table-danger',
                'active': 'table-info'
            };
            if (row['state'] == 'done' && row['exit_code'] != 0) {
                return {
                    classes: 'table-danger'
                }
            }
            return {
                classes: styles[row['state']]
            }
        }

        function sorter(field, sortOrder, data) {
            var order = sortOrder === 'desc' ? -1 : 1
            data.sort(function (a, b) {
                var aa = a['_' + field]
                var bb = b['_' + field]
                if (aa < bb) {
                    return order * -1
                }
                if (aa > bb) {
                    return order
                }
                return 0
            })
        }

    </script>
    {% endblock %}