<script>

$('.nav-tabs').on('shown.bs.tab', function(event){
    activemetatab = event.target.getAttribute('href')
});

</script>

<div class="card-header myheader">
    <ul class="nav nav-tabs">
        <li class="nav-item mx-2">
          <a class="nav-link {% if object_avu is none %} active {% endif %}" id="collmeta-tab"
            data-toggle="tab" href="#collmeta" role="tab"
            aria-controls="collmeta" aria-selected="false">Collection metadata</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link {% if object_avu is not none %} active {% else %} bg-secondary disabled {% endif %}" id="objectmeta-tab"
            data-toggle="tab" href="#objectmeta" role="tab"
            aria-controls="objectmeta" aria-selected="false">Object metadata</a>
        </li>
        </ul>

        <div class="card-tools">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" onchange='avu_table()' id="metatoggle" checked>
                <label class="form-check-label" id="metatext" for="metatoggle">
                  Formatted
                </label>
              </div>
    </div>
</div>
<div class="card-body scroll tab-content">
    <div class="tab-pane {% if object_avu is none %} active {% endif %}" id="collmeta" role="tabpanel" aria-labelledby="collmeta-tab">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
        <!--            <th>Unit</th> -->
                </tr>
            </thead>
            <tbody>

        {% for entry in coll_avu %}
            <tr>
                <td> {{ entry.name }} </td>
                <td class="rawvalues" style="display:none;">{{ entry.value }}</td>
                <td class="formatvalues"> {{ entry.htmlstring|safe }} </td>
        <!--        <td> {{ entry.datatype }} </td> -->
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% if object_avu is not none %}
    <div class="tab-pane {% if object_avu is not none %} active {% endif %}" id="objectmeta" role="tabpanel" aria-labelledby="objectmeta-tab">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
        <!--            <th>Unit</th> -->
                </tr>
            </thead>
            <tbody>
        {% for entry in object_avu %}
            <tr>
                <td> {{ entry.name }} </td>
                <td class="rawvalues" style="display:none;">{{ entry.value }}</td>
                <td class="formatvalues"> {{ entry.htmlstring|safe }} </td>
        <!--        <td> {{ entry.datatype }} </td> -->
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endif %}
    </div>

</div>