<script>

$('.nav-pills').on('shown.bs.tab', function(event){
    activetab = event.target.getAttribute('href')
  });

</script>

<div class="card-header myheader">
    <ul class="nav nav-pills">
        <li class="nav-item mx-2">
          <button class="btn btn-outline-primary {% if object_avu is none %} active {% endif %}" id="collmeta-tab" 
            data-toggle="tab" href="#collmeta" role="tab" 
            aria-controls="collmeta" aria-selected="false">Collection metadata</button>
        </li>
        <li class="nav-item mx-2">
          <button class="btn {% if object_avu is not none %} btn-outline-primary active {% else %} btn-outline-secondary disabled {% endif %}" id="objectmeta-tab"
            data-toggle="tab" href="#objectmeta" role="tab"
            aria-controls="objectmeta" aria-selected="false">Object metadata</button>
              <!--  if archival_state.is_dataset is sameas false btn-outline-dark disabled -->
        </li>
        <li>
    <button class="btn btn-outline-success float-right right" onclick='avu_table()' id="metatoggle">Formatted</button>
    </li></ul>
    

</div>
<div class="card-body coll-meta tab-content">
    <div class="tab-pane {% if object_avu is none %} active {% endif %}" id="collmeta" role="tabpanel" aria-labelledby="collmeta-tab">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
        <!--            <th>Unit</th> -->
                </tr>
            </thead>
            <tbody>

        {% for entry in coll_avu %}
            <tr>
                <td> {{ entry.name }} </td>
                <td class="rawvalues" style="display:none;">{{ entry.value }}</td>    
                <td class="formatvalues"> {{ entry.htmlstring|safe }} </td>
        <!--        <td> {{ entry.datatype }} </td> -->
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% if object_avu is not none %}
    <div class="tab-pane {% if object_avu is not none %} active {% endif %}" id="objectmeta" role="tabpanel" aria-labelledby="objectmeta-tab">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
        <!--            <th>Unit</th> -->
                </tr>
            </thead>
            <tbody>
        {% for entry in object_avu %}
            <tr>
                <td> {{ entry.name }} </td>
                <td class="rawvalues" style="display:none;">{{ entry.value }}</td>    
                <td class="formatvalues"> {{ entry.htmlstring|safe }} </td>
        <!--        <td> {{ entry.datatype }} </td> -->
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endif %}
    </div>

</div>