<div class="card-header">
<H2>Barcodes in run {{ run.id}}: "{{ run.name }}" ({{ run.flowcell }})</H2>
</div>
<div class="card-body">
<TABLE class="table table-striped table-hover table-sm">
<thead class="thead-dark">
<TR>
  <TH scope="col">id</TH>
  <!-- <TH scope="col">ngsrunid</TH> -->
  <TH scope="col">Barcode</TH>
  <TH scope="col">Unilab code</TH>
  <TH scope="col">Virus target</TH>
  <TH scope="col">Primer set Collection</TH>
  <TH scope="col">Description</TH>
  <TH scope="col">Creation date</TH>
</TR>
</thead>
<tbody>
{% for code in barcodes %}
<tr>
   <td>{{ code.id }}</td>
   <!-- <td>{{ code.ngsrun }}</td> -->
   <td>{{ code.barcode }}</td>
   <td>{{ code.unilab }}</td>
   <td>{{ code.virus_target }}</td>
   <td>{{ code.primer_set }}</td>
   <td>{{ code.description }}</td>
   <td>{{ code.creation_date }}</td>
</tr>
{% endfor %}
</tbody>
</TABLE>
</div>