PG_DETAILS
<BUTTON onClick='load_pgpage()'>RELOAD</BUTTON>
{{ message }}
<hr>
<div class="container-wide">
    <div class="row">
        <div class="col col-mb-4">
            Processes
            <hr>
            <ul>
                {% for process in pg_processes %}
                <li class="select-process" data-process="{{ process.name }}">
                    {% if process.name == selected_process %}
                    <b>{{ process.name }}</b>
                    {% else %}
                    {{ process.name }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <button id="delete_process_button">Delete selected</button>
            <hr>
            <INPUT TYPE="text" id="process_name"></INPUT>
            <SELECT style="width: '100px'" id="process_select">
                {% for proc in all_processes %}
                <OPTION>{{ proc.name }}</OPTION>
                {% endfor %}
            </SELECT>
            <BUTTON onClick='pgadd_process()''>Add Process</BUTTON>

        </div>
        <div class="col col-mb-4">
            Settings
            <hr>
            INPUT: {{ procinput }}
            <button id="select_input_button">select</button>
        </div>
        <div class="col col-mb-4">
            Dependencies
            <hr>
            <ul>
            {% for dep in dependencies %}
            <li>{{ dep.depends_on }}</li>
            {% endfor %}
            </ul>
            <hr>
            <BUTTON id="add_dep">Add dependency</BUTTON>
        </div>
    </div>
</div>

<script>

function pgadd_process() {
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'add_process',
        process: $("#process_select").val(),
        name: $('#process_name').val()
    }, function(data) {
        selected_process = data.selected_process;
        load_pgpage();
    });
    console.log('pg add process');
}

$('#delete_process_button').on('click', function(){
    console.log('delete selected')
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'delete_process',
        process: selected_process      
    }, function(data) {
        selected_process = null
        load_pgpage();
    });
})

$('#add_dep').on('click', function() {
    console.log('add dep')
    if (mode != 'add_dependency') {
        mode = 'add_dependency';
    } else {
        mode = 'display';
    }
        load_pgpage()
})
</script>