<div class="container-wide">
    {% if message %}
    <div class="row card bg-warning "><H3><center>{{ message }}</center></H3></div>
    {% endif %}
    <div class="row">
        <div class="col col-mb-4">
            Processes  
            <button type="button" class="btn btn-danger float-right {% if not selected_details %}disabled{% endif %}" 
                id="delete_process_button">Delete selected</button>
            <hr>

            <form>
                <div class="form-group">
                    <label for="process_name">Process name (optional)</label>
                    <INPUT TYPE="text" class="form-control" id="process_name"></INPUT>
                </div>
                <div class="form-group">
                    <SELECT class="form-control" style="width: '100px'" id="process_select">
                        {% for proc in all_processes %}
                        <OPTION>{{ proc.name }}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <BUTTON type="button" class="btn btn-primary" onClick='pgadd_process()''>Add Process</BUTTON>
            </form>

        </div>
        <div class="col col-mb-4">
            {% if selected_details %}
            Actions for {{ selected_details.name }}
            <hr>
            <button type="button" class="btn btn-primary" id="select_input_button">Select input</button>
            <hr>
            <form action="{{ url_for('projects.pgaction') }}">
                <div class="form-group">
                    <label for="process_name">GIT Tag</label>
                    <select class="form-control form-control-lg" id="git_tag">
                        {% for tag in selected_tags %}
                        <option {% if tag == selected_details.tag %}selected{% endif %}>{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <BUTTON type="button" class="btn btn-primary disabled" id="update_processtag_button">Submit</BUTTON>
            </form>
            <form action="{{ url_for('projects.pgaction') }}">
                <div class="form-group">
                    <label for="process_name">LSF queue</label>
                    <INPUT TYPE="text" class="form-control" id="lsf_queue" value="{{ selected_details.lsf_queue }}"></INPUT>
                </div>
                <BUTTON type="button" class="btn btn-primary disabled" id="update_process_button">Submit</BUTTON>
                <BUTTON type="button" class="btn btn-primary" id="update_allprocs_button">Set for all processes</BUTTON>
            </form>
            {% endif %}
        </div>
        <div class="col col-mb-4">
            {% if selected_details %}
            Dependencies for {{ selected_details.name }}
            <hr>
            <div>
            <BUTTON type="button" class="btn btn-primary" id="add_dep">Add dependency</BUTTON>
            <BUTTON type="button" class="btn btn-danger disabled" id="del_dep">Delete dependency</BUTTON>
            </div>
            <hr>
            <ul class="list-group">
            {% for dep in dependencies %}
            <li class="list-group-item {% if dep == selected_dependency %} active {% endif %} select-dep">{{ dep }}</li>
            {% endfor %}
            </ul>
            {% endif %}           
        </div>
    </div>
</div>

<script>

function pgadd_process() {
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'add_process',
        process: $("#process_select").val(),
        name: $('#process_name').val()
    }, function(data) {
        selected_process = data.selected_process;
        load_pgpage();
    });
}

$('#lsf_queue').on('input', function(){
    $('#update_process_button').removeClass('disabled')
})

$('#git_tag').on('change', function(){
    $('#update_processtag_button').removeClass('disabled')
})

$('#update_allprocs_button').on('click', function(){
    waiting()
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'update_processes',
        lsf_queue: $('#lsf_queue').val()    
    }, function(data) {
        load_pgpage();        
    });
})

$('#update_process_button').on('click', function(){
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'update_process',
        process: selected_process,
        lsf_queue: $('#lsf_queue').val()    
    }, function(data) {
        load_pgpage();
    });
})

$('#update_processtag_button').on('click', function(){
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'update_process',
        process: selected_process,
        tag: $('#git_tag option:selected').text()    
    }, function(data) {
        load_pgpage();
    });
})

$('#delete_process_button').on('click', function(){
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'delete_process',
        process: selected_process      
    }, function(data) {
        selected_process = null
        load_pgpage();
    });
})

$('#add_dep').on('click', function() {
    if (mode != 'add_dependency') {
        mode = 'add_dependency';
    } else {
        mode = 'display';
    }
        load_pgpage()
})

$('.select-dep').on('click', function() {
    $('.select-dep').removeClass('active')
    $(this).addClass('active')
    $('#del_dep').removeClass('disabled')
})

$('#del_dep').on('click', function() {
    $.get('{{ url_for("projects.pgaction") }}', {
        project: "{{ project }}",
        group: "{{ group }}",
        action: 'delete_dependency',
        process: "{{ selected_details.name }}",
        depend: $('.select-dep.active').text()
    }, function(data) {
        load_pgpage();
    });
})
</script>