<script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
ReferenceData
<table class="table" id="refdata_table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ReferenceDataset</th>
        <th scope="col">Version</th>
        <th scope="col">Action</th>
      </tr>
      <tr class="table-primary">
          <td></td>
          <td><select class="form-control form-control-sm" id="refDataSetSelect">
              <option disabled selected value> -- select a reference dataset -- </option>
          </select></td>
          <td>    
            <select class="form-control form-control-sm disabled invisible" id="refDataSetVersionSelect">
              <option disabled selected value> -- select a version id -- </option>
              <option value="-1">Latest (dynamic)</option>
          </select></td>
          <td><button class="btn-success disabled invisible" id="btnAddRefData"><i class="fas fa-plus-circle"></i></button></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

function addEventDeleteBtn(id) {
  document.getElementById('btn-delete-'+id).addEventListener('click', function() {
       alert(id);
       $.get('{{ url_for("projects.process_del_referencedataversion") }}', { 
            referencedataid: id,
            processid: '{{ processid }}'
        }, function(data) {
            $('#refdata-row-'+id).remove()
        })
  });
}

function build_line( ref_data, versions ) {
     html = '<tr id="refdata-row-'+ref_data.id +'"><th scope="row"></th><th>' + ref_data.referencedata.name + ' (Version: '+ ref_data.referencedataversion.version+')</th>'
     html += '<td><select class="form-control form-control-sm" id="refDataSetVersion-' + ref_data.id + '>'
     html += '    <option value="0">Latest (dynamic)</option>'
     for ( const v of versions ) {
        selected=""
        if (v.id == ref_data.referencedataversion.version ) {
           selected="selected"
        }
        html += '<option value="'+ v.id +'"' + selected + '>'+ v.name +' ('+v.id+')</option>'
     }
     html += '</select></td>'
     html += '<td><button class="btn-danger" id="btn-delete-'+ ref_data.id +'"><i class="fas fa-trash"></i></button></td>'
     html += '</tr>'
     return html
}

function build_reference_data_table(reference_datas, ref_versions) {
    //alert(JSON.stringify(reference_datas))
    //alert(JSON.stringify(ref_versions))
    $('#refdata_table > tbody').empty()
    for ( ref_data of reference_datas ){
        let versions  = ref_versions[ref_data.referencedataid]
        //alert(JSON.stringify(versions))
        $('#refdata_table > tbody:last-child').append( build_line( ref_data, versions ) )
        addEventDeleteBtn(ref_data.id)
    }; 

}

$('document').ready(function(){
    reference_data_sets = {{reference_data_sets|tojson}}
    reference_datas_for_process = {{reference_data_for_process|tojson}}
    ref_versions = {{ref_versions|tojson}}
    for( ref of reference_data_sets ) {
        $('#refDataSetSelect').append( new Option(ref.name + '('+ref.id+')', ref.id ) ) 
    };

    build_reference_data_table(reference_datas_for_process, ref_versions)
});

/////////////////////////////////////////



$('#refDataSetSelect').on('change', function() {
    $('#refDataSetVersionSelect').removeClass('invisible')
    
    $.get('{{ url_for("projects.referencedataversions") }}', { 
        referencedataid: this.value
    }, function(data) {
       for( version of data ) {
            $('#refDataSetVersionSelect').append( new Option(version.name + '('+version.id+')', version.id ) ) 
        };
    })
    
})


$('#refDataSetVersionSelect').on('change', function() {
    $('#btnAddRefData').removeClass('invisible disabled')
})


$('#btnAddRefData').on('click', function() {
    $.get("{{ url_for('projects.process_add_referencedataversion') }}", {
        referencedataid: $('#refDataSetSelect').val(),
        referencedataversionid:  $('#refDataSetVersionSelect').val(),
        processid: '{{ processid }}'
    }, function(data) {
        alert(JSON.stringify(data))
        let all_versions = {{ref_versions|tojson}};
        let versions_of_refdata = all_versions[data.referencedata.id]
        $('#refdata_table > tbody:last-child').append( build_line( data, versions_of_refdata ) )
        addEventDeleteBtn( data.id)
      //window.location.reload();
    });

    $('#btnAddRefData').addClass('invisible disabled')
    $('#refDataSetVersionSelect').addClass('invisible')
    $('#refDataSetVersionSelect').empty()
    $("#refDataSetSelect").prop("selectedIndex", 0 ) /* function () {
      return this.defaultSelected;
    }); */
}) 
</script>