{% extends 'base2.html' %}

{% block heading %}
<h3>Process details : <div class="activeprocess" style="display:inline"></div>
</h3>
{% endblock %}

{%block menuname %}
menuname='processes'
{% endblock %}

{% block menuitems %}


<form class="form" action="{{ url_for('projects.update_projectsettings') }}" method="post">
  <div class="form-group">
    <label for="new_pname" class="col-form-label white">ADD NEW PROCESS</label>
    <INPUT TYPE="text" class="form-control menuexpand" id='new_pname' name="process">
    <INPUT TYPE="hidden" name="action" value="add_process2">
    <button type=submit class="btn btn-primary">Add process</button>
  </div>
</form>

{% endblock %}

{% block content %}
<script>

  $(document).on('click', '.processname', function () {
    process = $(this).data('processname');
    $('.processname').removeClass('active')
    $(this).addClass("active")
    $('#details').html('<div class="card">Loading settings for ' + process + " ... </div>")
    $.get('{{ url_for('projects.show_processdetails') }}', {
      name: process
    }, function (data) {
      $('#details').html(data);
      $('.activeprocess').html(process)
    });
  });

  $(window).on('load', function () {
    $("li[data-processname='{{ process }}']").trigger('click');
  });


</script>

<div class="selectgrid h100">
  <div class="card selectlist">
    <div class="nopadding card-body scroll ">
      <UL class="list-group">
        {% for process in processes | sort %}
        <LI class="processname list-group-item" data-processname="{{ process }}">{{ process }}</LI>
        {% endfor %}
      </UL>
    </div>
  </div>

  <div class="card selectdetail">
    <div class="card-body" id="details"></div>
  </div>


</div>

</div>


{% endblock %}