<script>
var formaction = 'default';

processgroup = '{{ processgroup }}'

function load_pg() {
  $.get("{{ url_for('projects.processgroups') }}", {
    project: "{{ projectdetails.name }}",
    group: processgroup
  }, function(data) {
     $('#processgroups').html(data);
     console.log('load the contents...')
     load_pgpage();
  });
}

function load_colls() {
  $.get( "{{ url_for('projects.projectcolltable') }}", {
    project: "{{ projectdetails.name }}"
  }, function(data) {
     $('#collections').html(data);
     console.log('load the collection list ...')
  });
}

function load_project_meta() {
  $.get( "{{ url_for('metaedit.schemata_for_project') }}", {
    project: "{{ projectdetails.name }}"
  }, function(data) {
     console.log(data)
     $('#projectmeta').html(JSON.stringify(data));
     console.log('load the metadata editor ...')
  });
}

function load_dataset_meta() {
  $.get( "{{ url_for('metaedit.schemata_for_dataset') }}", {
    project: "{{ projectdetails.name }}"
  }, function(data) {
     $('#dataset-metadata').html(data);
     console.log('load the metadata editor ...')
  });
}

// $('.nav2').on('shown.bs.tab', function(event){
//   target = event.target.getAttribute('href')
//   activetab = target
//   if (target == "#processgroups") {
//     load_pg();
//   }
//   if (target == "#collections") {
//     load_colls();
//   }
//   // if (target == "#projectmeta") {
//   //   alert('hi');
//   //   load_project_meta();
//   // }
//   console.log(target)
// })

$(document).on('click', '.path-change', function () {
    collection = $(this).data('path');
    if (typeof collection == 'undefined') {
      collection = $(this).attr('id')
    }
    window.location.replace("{{ url_for('collbrowser.collbrowser') }}?path=" + encodeURIComponent(collection));
  });

function update_process(sourceElem, destElem) {
    $.post("{{ url_for('projects.get_process') }}",
    { project: $(sourceElem+" option:selected").text() },
        function(response) {
            select = $(destElem)
            if(select.prop) {
                var options = select.prop('options');
            }
            else {
                var options = select.attr('options');
            }
            $('option', select).remove();
            $.each(response, function(index, val) {
                options[options.length] = new Option(val, val);
            });
        }
    );
}

</script>

<br>

<!-- PROJECT SETTINGS -->
<div id="project-tabs" class="card h-100">
  <div class="card-header">
    <ul class="nav nav-tabs nav2" id="projecttabs">
      <li class="nav-item mx-2">
        <A class="nav-link active" id="settings-tab"
        data-toggle="tab" href="#settings" role="tab"
        aria-controls="settings" aria-selected="false">Settings</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link projectmeta" id="projectmeta-tab"
        data-toggle="tab" href="#projectmeta" role="tab"
        aria-controls="projectmeta" aria-selected="false">Project Metadata</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link datasetmeta" id="datasetmeta-tab"
        data-toggle="tab" href="#datasetmeta" role="tab"
        aria-controls="datasetmeta" aria-selected="false">Dataset Metadata</A>
      </li>
      {% if current_user.feature('jobs') and projectdetails.pipelines %}
      <li class="nav-item mx-2">
        <A class="nav-link contactmanager" id="contacts-tab"
        data-toggle="tab" href="#contacts" role="tab"
        aria-controls="contacts" aria-selected="false">Contacts</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link" id="processgroups-tab"
        data-toggle="tab" href="#processgroups" role="tab"
        aria-controls="processgroups" aria-selected="false">Processgroups</A>
      </li>
      {% endif %}
      <li class="nav-item mx-2">
        <A class="nav-link" id="collections-tab"
        data-toggle="tab" href="#collections" role="tab"
        aria-controls="collections" aria-selected="false">Collections</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link usermanager" data-usertype="users" id="users-tab"
        data-toggle="tab" href="#users" role="tab"
        aria-controls="users" aria-selected="false">Users</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link usermanager" data-usertype="managers" id="managers-tab"
        data-toggle="tab" href="#managers" role="tab"
        aria-controls="managers" aria-selected="false">Managers</A>
      </li>
      <li class="nav-item mx-2">
        <A class="nav-link" id="groups-tab"
        data-toggle="tab" href="#groups" role="tab"
        aria-controls="groups" aria-selected="false">Groups</A>
      </li>
      {% if current_user.is_admin %}
      <li class="nav-item mx-2">
        <A class="nav-link" id="info-tab"
        data-toggle="tab" href="#info" role="tab"
        aria-controls="info" aria-selected="false">System Info</A>
      </li>
      {% endif %}
    </ul>
  </div>
<div class="card-body tab-content h-100">

  <!-- Tab contents -->
    <!-- Settings -->
    <div class="tab-pane active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      {% if processing is sameas true %}
      <div class="alert alert-warning" role="alert">
        <center>Changes to project configuration are still being processed</center>
      </div>
      {% endif %}
      <form id="project-settings-form" action="update_project" method="post">
        <input type="hidden" id="action" name="action" value="update_project">
        <input type="hidden" id="project" name="project" value="{{projectdetails.name}}">
        <div class="form-group">
          <label for="project_desc_{{projectdetails.name}}">Description</label>
          <input type="text" class="form-control" name="description" id="project_desc_{{projectdetails.name}}" placeholder="Description"
            value="{{ projectdetails.description }}" {% if not project_permissions.managers %}disabled{% endif %}>
        </div>

        <div class="form-group">
          <label for="default_collection_{{projectdetails.name}}">Default Collection</label>
          <input type="text" class="form-control" name="default_collection" id="default_collection_{{projectdetails.name}}"
            placeholder="Default collection" value="{{ projectdetails.default_collection }}" {% if not project_permissions.managers
            %}disabled{% endif %}>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="public" id="public_{{projectdetails.name}}" placeholder="Public Data"
            value="1" {% if projectdetails.public %}checked {% endif %} {% if not project_permissions.managers %}disabled{% endif %}>
          <label for="public_{{projectdetails.name}}">Public Data</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" data-enable="input-svc" name="pipelines"
            id="pipelines_{{projectdetails.name}}" placeholder="Use pipelines" value="1" {% if projectdetails.pipelines %}checked {% endif %} {% if
            not project_permissions.managers %}disabled{% endif %}>
          <label for="pipelines_{{projectdetails.name}}">Use Pipelines</label>
        </div>

        <div class="form-group input-svc" {% if not projectdetails.pipelines %} hidden {% endif %}>
          <label for="service_account_{{projectdetails.name}}">Service Account (generated automatically)</label>
          <input type="text" class="form-control" name="service_account" id="service_account_{{projectdetails.name}}"
            placeholder="Service Account" value="{{ projectdetails.service_account }}" disabled>
        </div>
        <hr>
        {% if project_permissions.managers%}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endif %}
        <!-- <button type="button" class="btn btn-primary" data-href="/remove_project?name={{projectdetails.name}}" data-toggle="modal" data-target="#confirm-delete">
              Remove project
            </button> -->
      </form>
    </div>

    <!-- Project Metadata -->
    <div class="tab-pane h-100 scroll" id="projectmeta" role="tabpanel" aria-labelledby="projectmeta-tab">
      <div class="selectgrid h-100">
        <div class="card selectlist">
          <div class="card-header">
            <div class="card-title">Available schemata for project: <b>{{ projectdetails.name }}</b></div>
          </div>
          <table id="project-schemata-table" data-toggle='table' data-url="{{ url_for('metaedit.schemata_for_project', project_name=projectdetails.name)}}"
            data-checkbox-header="false" data-sort-name="order" data-sort-order="asc">
            <thead>
              <TR>
          <TH data-field="selected" data-checkbox="true" title="Check the box first, then select field to display the form"></TH>
          <TH data-field="schema" data-sortable="true">Schema Name</TH>
          <TH data-field="schemapath" data-visible="false"></TH>
          <TH data-field="order" data-visible="false"></TH>
              </TR>
            </thead>
          </table>
        </div>
        <div class="card selectdetail">
          <div class="card-header">
            <div class="card-title">Metadata editor</div>
          </div>
          <div class="card-body autoscroll">
            <div id="reactform">
              <CENTER>SELECT A SCHEMA FILE...</CENTER>
            </div>
          </div>
    
          <div class="card-footer">
            <button class="btn btn-primary formsubmit" type="submit" name="save" form="metaForm" disabled>Save</button>
            <button class="btn btn-primary formsubmit" type="submit" name="continue" form="metaForm" disabled>Save &
              Continue</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Dataset Metadata -->
    <div class="tab-pane h-100 scroll" id="datasetmeta" role="tabpanel" aria-labelledby="datasetmeta-tab">
      <div class="selectgrid h-100">
        <div class="card selectlist">
          <div class="card-header">
            <div class="card-title">Available schemata for datasets in project: <b>{{ projectdetails.name }}</b></div>
          </div>
          <table id="dataset-schemata-table" data-toggle='table' data-url="{{ url_for('metaedit.schemata_for_dataset', collection=coll, project_name=projectdetails.name)}}"
            data-checkbox-header="false" data-sort-name="order" data-sort-order="asc">
            <thead>
              <TR>
          <TH data-field="selected" data-checkbox="true" title="Check the box first, then select field to display the form"></TH>
          <TH data-field="schema" data-sortable="true">Schema Name</TH>
          <TH data-field="schemapath" data-visible="false"></TH>
          <TH data-field="order" data-visible="false"></TH>
              </TR>
            </thead>
          </table>
        </div>
        <div class="card selectdetail">
          <div class="card-header">
            <div class="card-title">Metadata editor</div>
          </div>
          <div class="card-body autoscroll">
            <div id="reactform">
              <CENTER>SELECT A SCHEMA FILE...</CENTER>
            </div>
          </div>
    
          <div class="card-footer">
            <button class="btn btn-primary formsubmit" type="submit" name="save" form="metaForm" disabled>Save</button>
            <button class="btn btn-primary formsubmit" type="submit" name="continue" form="metaForm" disabled>Save &
              Continue</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Contacts -->
    <div class="tab-pane" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
    </div>

    <!-- Processgroups -->
    <div class="tab-pane" id="processgroups" role="tabpanel" aria-labelledby="processes-tab">
    </div>

    <!-- Collections -->
    <div class="tab-pane h-100 scroll" id="collections" role="tabpanel" aria-labelledby="collections-tab">
    </div>

    <!-- Groups -->
    <div class="tab-pane" id="groups" role="tabpanel" aria-labelledby="groups-tab">
      <H3>Project groups</H3>
      <TABLE class="table table-striped table-hover table-sm" >
        <thead>
          <TR>
            <TH scope="col">Name</TH>
          </TR>
        </thead>
        <tbody>
          {% for group in projectdetails.groups %}
            <tr>
              <td>
                <a href="/userinfo/groupdetails?group={{group}}">
                  {{ group }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Managers -->
    <div class="tab-pane" id="managers" role="tabpanel" aria-labelledby="managers-tab">
    </div>

    <!-- Users -->
    <div class="tab-pane" id="users" role="tabpanel" aria-labelledby="users-tab">
    </div>

    <!-- Users -->
    {% if current_user.is_admin %}
    <div class="tab-pane h-100 scrollbar-y" id="info" role="tabpanel" aria-labelledby="info-tab">
      <h2>Project system info</h2>
      <h3>Project permissions info</h3>
      <TABLE class="table">
        <TR><TH>Attr</TH><TH>Value</TH></TR>
      {% for k, v in project_permissions.items() %}
        <TR><TD>{{ k }}</TD><TD>{{ v }}</TD></TR>
      {% endfor %}
      {% macro formatvar(value) -%}
        {% if value is mapping %}
          <table>
            <tbody>
              {% for key, val in value.items() %}
                <tr>
                  <td>{{ key }}</td>
                  <td>{{ formatvar(val) }}</td>
                </tr>
          {% endfor %}
            </tbody>
          </table>
        {% elif value is iterable and value is not string %}
          {% for item in value %}
          {{ item }}{% if not loop.last %},{% endif %}
          {% endfor %}
        {% else %}
          {{ value }}
        {% endif %}
      {%- endmacro %}
      </TABLE>
      <h3>Project details</h3>
      <TABLE class="table">
        <TR><TH>Attr</TH><TH>Value</TH></TR>
      {% for k, v in projectdetails.items() %}
        <TR><TD>{{ k }}</TD><TD>{{ formatvar(v) }}</TD></TR>
      {% endfor %}
      </TABLE>
      <h3>Current User info</h3>
      <TABLE class="table">
        <TR><TH>Attr</TH><TH>Value</TH></TR>
        <TR><TD>environment</TD><TD>{{ current_user.environment }}</TD></TR>
        <TR><TD>features</TD><TD>{{ formatvar(current_user.features) }}</TD></TR>
        <TR><TD>fullname</TD><TD>{{ current_user.fullname }}</TD></TR>
        <TR><TD>groups</TD><TD>{{ formatvar(current_user.groups()) }}</TD></TR>
        <TR><TD>irods_env</TD><TD>{{ formatvar(current_user.irods_env) }}</TD></TR>
        <TR><TD>irods_server</TD><TD>{{ current_user.irods_server }}</TD></TR>
        <TR><TD>irods_zone</TD><TD>{{ current_user.irods_zone }}</TD></TR>
        <TR><TD>is_active</TD><TD>{{ current_user.is_active }}</TD></TR>
        <TR><TD>is_admin</TD><TD>{{ current_user.is_admin }}</TD></TR>
        <TR><TD>projects</TD><TD>{{ formatvar(current_user.projects()) }}</TD></TR>
        <TR><TD>username</TD><TD>{{ current_user.username }}</TD></TR>
        </TABLE>
    </div>
    {% endif %}

<!-- PROJECT DELETE CONFIMATION DIALOG -->

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Remove project
            </div>
            <div class="modal-body">
                Are you sure you want to remove project {{projectdetails.name}}
            </div>
            <div class="modal-footer">
                <form method="post" action="update_project">
                <input type="hidden" id="action_remove_project" name="action" value="remove_project">
                <input type="hidden" id="project" name="project" value="{{projectdetails.name}}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger btn-ok">Delete</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

function load_users() {
    usertype = $("ul#projecttabs li a.active").data('usertype')
    $.get("{{ url_for('projects.usermanager') }}", {
      object: '{{ projectdetails.name }}',
      objecttype: 'projects',
      usertype: usertype
    }, function(data) {
      $('#' + usertype).html(data);
    });
  }

  $('.usermanager').on('shown.bs.tab', function (event) {
    load_users();
  });

  function load_contacts() {
    $.get("{{ url_for('contacts.contactmanager') }}", {
      object: '{{ projectdetails.name }}',
      objecttype: 'projects'
    }, function(data) {

      $('#contacts').removeClass('pending')
      $('#contacts').html(data);
    });
  }

  $('.contactmanager').on('shown.bs.tab', function (event) {
    $('#contacts').addClass('pending')
    load_contacts();
  });
  
  // // wrap this part in an local function to prevent duplicate declaration of variables
  // (() => {
  //     // Enable or disable a schema for a collection
  //   const toggleRow = (schemapath, schema_action) => {
  //     console.log(
  //       "TOGGLE",
  //       "{{ projectdetails.default_collection }}",
  //       schemapath,
  //       schema_action
  //     );

  //     $.ajax({
  //       method: "POST",
  //       url: "{{ url_for('metaedit.set_schemata_for_collection')}}",
  //       contentType: "application/json; charset=utf-8",
  //       dataType: "json",
  //       data: JSON.stringify({
  //         collection: "{{ projectdetails.default_collection }}",
  //         schemapath,
  //         action: schema_action,
  //       }),
  //     })
  //       .done((response) => {
  //         console.log("Schema updated successfully:", response);
  //       })
  //       .fail((jqXHR, textStatus, errorThrown) => {
  //         console.error("Error updating schema:", textStatus, errorThrown);
  //       });
  //   };
    
  //   const Form = JSONSchemaForm.default;
  //   const log = (type) => console.log.bind(console, type);
  //   let metaForm;
  //   // Load the correct schema form when a schema is selected
  //   const loadSchema = function(schemapath) {
  //     console.log('Load schema ' + schemapath)
  //     $.ajax({
  //       method: "GET",
  //       url: '{{ url_for("metaedit.get_schema_and_data") }}',
  //       data: {
  //         schemapath: schemapath,
  //         collection: "{{ metadata_collection }}"
  //       },
  //       contentType: "application/json; charset=utf-8",
  //       dataType: "json",
  //       success: function (result) {
  //         console.log('Result', result)
  //         selectedSchemaProject = schemapath;
  //         //        fd = (schemaId == selectedSchemaProject) ? formdata : {}
  //         renderFormFunction(JSON.parse(result.schema), JSON.parse(result.uiSchema), JSON.parse(result.data), 'reactform');
  //       }
  //     })
  //   }
    
  //   // Install bootstraptable event handlers
  //   $('#project-schemata-table').bootstrapTable({
  //     onCheck: function (row, $element) {
  //       toggleRow(row.schemapath, 'add')
  //     },
  //     onUncheck: function (row, $element) {
  //       toggleRow(row.schemapath, 'remove')
  //     },
  //     onClickRow: function (row, $element, field) {
  //       if (row.selected == false) {
  //         // Disabled schema cannot be loaded
  //         return
  //       }
  //       // TODO: There should be a warning if the current schema is unsaved
  //       loadSchema(row.schemapath)
  //       $('#project-schemata-table tr').removeClass('highlight')
  //       $element.addClass('highlight')
  //     }
  //   })
    
  //   // Install bootstraptable event handlers
  //   $('#dataset-schemata-table').bootstrapTable({
  //     onCheck: function (row, $element) {
  //       toggleRow(row.schemapath, 'add')
  //     },
  //     onUncheck: function (row, $element) {
  //       toggleRow(row.schemapath, 'remove')
  //     },
  //     onClickRow: function (row, $element, field) {
  //       if (row.selected == false) {
  //         // Disabled schema cannot be loaded
  //         return
  //       }
  //       // TODO: There should be a warning if the current schema is unsaved
  //       loadSchema(row.schemapath)
  //       $('#dataset-schemata-table tr').removeClass('highlight')
  //       $element.addClass('highlight')
  //     }
  //   })


  // function renderFormFunction(schema, uiSchema, data, element) {
  //   ReactDOM.render(
  //     React.createElement(
  //       Form,
  //       {
  //         id: "metaForm",
  //         schema: schema,
  //         uiSchema: uiSchema,
  //         formData: data,
  //         onChange: function () {
  //           $('.formsubmit').removeAttr('disabled');
  //         },
  //         onSubmit: formSubmit,
  //         ref: form => metaForm = form,
  //         onError: log("errors")
  //       },
  //       React.createElement("div", null)
  //     ),
  //     document.getElementById(element));
  // }

  // $('.formsubmit').on('click', function () {
  //   formaction = $(this).attr('name');
  // })

  // function formSubmit(e, d) {
  //   data = {
  //     data: e.formData,
  //     collection: "{{ coll }}",
  //     schemapath: selectedSchema,
  //     action: formaction
  //   }
  //   $.ajax({
  //     method: "POST",
  //     url: '{{ url_for("metaedit.store_metadata") }}',
  //     data: JSON.stringify(data),
  //     collection: "{{ coll }}",
  //     contentType: "application/json; charset=utf-8",
  //     dataType: "json",
  //     success: function () {
  //       if (formaction == 'save') {
  //         location.reload();
  //       } else {
  //         window.location.replace('{{ url_for("upload.upload_data", coll=coll) }}')
  //       }
  //     }
  //   });
  // }
  //   // End of local function
   
  // // project metadata schemata
  //   function load_projectmeta() {
  //   $.get("{{ url_for('metaedit.schemata_for_project') }}", {
  //     object: '{{ projectdetails.name }}',
  //     objecttype: 'project'
  //   }, function(data) {

  //     $('#projectmeta').removeClass('pending')
  //     $('#projectmeta').html(data);
  //   });
  // }

  //   // dataset metadata schemata
  //   function load_datasetmeta() {
  //   $.get("{{ url_for('metaedit.schemata_for_dataset') }}", {
  //     object: '{{ projectdetails.name }}',
  //     objecttype: 'dataset'
  //   }, function(data) {

  //     $('#datasetmeta').removeClass('pending')
  //     $('#datasetmeta').html(data);
  //   });
  // }
  
  
  $('#project-settings-form').on('submit', function(event) {
    $('#settings').addClass('pending')
  })

  $( ".toggle_next" ).each(function() {
    var check=$(this).prop('checked')
    var proc=$(this).data('process')
    $("[id^=nextpro][data-process=" + proc + "]").prop('disabled', function(){
        return !check
    })
  });


  function omit_check() {
    console.log("Check")
    if ($('input[name="do_bringonline"]').is(":checked")) {
      $('input[name="do_staging').prop('disabled', false)
    } else {
      $('input[name="do_staging').prop('disabled', true).prop('checked', false)
    }
  }

  $('input[name="do_bringonline"]').on('click', omit_check );

  $('document').ready( function() {
    $('.form-check-input').on('change', function() {
      classname = $(this).data('enable')
      $('.' + classname).attr('hidden', !$(this).prop('checked'))
    })
    omit_check()
  });

// Wrap in a local function to prevent reloading of variables
(() => {
  // Make backend URLs available globally (read by metaedit.js)
  window.URLS = {
    metaedit_get_schema_and_data: "{{ url_for('metaedit.get_schema_and_data') }}",
    metaedit_set_schemata_for_collection: "{{ url_for('metaedit.set_schemata_for_collection') }}"
  };

  const projectCollection = "{{ projectdetails.default_collection }}";
  const datasetCollection = "{{ metadata_collection }}";
  const metadataCollection = "{{ metadata_collection }}";

  // ─────────────────────────────────────────────────────────────
  //  PROJECT SCHEMATA TABLE
  // ─────────────────────────────────────────────────────────────
  $('#project-schemata-table').bootstrapTable({
    onCheck: (row) => {
      toggleRow(projectCollection, row.schemapath, "add");
    },
    onUncheck: (row) => {
      toggleRow(projectCollection, row.schemapath, "remove");
    },
    onClickRow: (row, $element) => {
      if (!row.selected) return;

      loadSchema(row.schemapath, metadataCollection);

      $('#project-schemata-table tr').removeClass('highlight');
      $element.addClass('highlight');
    },
  });

  // ─────────────────────────────────────────────────────────────
  //  DATASET SCHEMATA TABLE 
  // ─────────────────────────────────────────────────────────────
  $('#dataset-schemata-table').bootstrapTable({
    onCheck: (row) => {
      toggleRow(datasetCollection, row.schemapath, "add");
    },
    onUncheck: (row) => {
      toggleRow(datasetCollection, row.schemapath, "remove");
    },
    onClickRow: (row, $element) => {
      if (!row.selected) return;

      loadSchema(row.schemapath, metadataCollection);

      $('#dataset-schemata-table tr').removeClass('highlight');
      $element.addClass('highlight');
    },
  });

  // ─────────────────────────────────────────────────────────────
  //  PROJECT CLICK HANDLING 
  // ─────────────────────────────────────────────────────────────
  $(document).on("click", ".projectname", function () {
    const project = $(this).data("projectname");

    $(".projectname").removeClass("highlight");
    $(".processname").removeClass("highlight");
    $(".activeproject").html(project);
    $(this).addClass("highlight");

    $("#details").html(
      '<center><img src="{{ url_for("static", filename="img/loading.gif") }}" width="30%"></center>'
    );
    console.log("Active_tab: {{ activetabname }}")
    $.get(
      "{{ url_for('projects.show_projectdetails') }}",
      {
        name: project,
        project_name: project,
        processgroup: "{{ processgroup }}",
      },
      function (data) {
        $("#details").html(data);
        $("a[id='{{ activetabname }}-tab']").trigger("click");
      }
    );
  });
})();
</script>

