{% extends 'base2.html' %}
  
{% block heading %}
{% endblock %}

{% block content %}

<div class="card border-primary mb-3">
    <div class="card-header">
        Projects overview
    </div>
    <div class="card-body">
        <TABLE class="table table-striped table-hover table-sm">
            <thead>
                <TR>
                    <TH scope="col">Project ID</TH>
                    <TH scope="col">Project Description</TH>
                    <TH scope="col">Primary Contact</TH>
                </TR>
            </thead>
            <tbody>
{% for project in projects|sort %}
                <tr>
                    <td width="20%">
                        <a href="{{ url_for('projects.show_projectdetails') }}?name={{ project }}">
                        {{ project }}
                        </a>
                    </td>
                    <td>
                    {{ projects[project]['description'] }}
                    </td>
                    <td>
                        {% for contact in projects[project]['contacts'] %}   
                        {% if contact.primary == 1 %}
                            <span class="badge badge-primary">
                        {% else %}
                           <span class="badge badge-secondary">
                        {% endif %}
                               {{ contact['email']|safe}}</span>&nbsp;

                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card border-primary mb-3">
    <div class="card-header">
        Add new project
    </div>
    <div class="card-body">
        <form class="form" action="update_project" method="post">
            <input type="hidden" id="action" name="action" value="add_project">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="project" id="inputProject" placeholder="Project">
            </div>
            <div class="form-group mx-sm-3">
                <button type="submit" class="btn btn-primary">Add new project</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

