{% extends 'base2.html' %}
  
{% block heading %}
<H2>Resource settings</H2>
{% endblock %}

{% block content %}
<div class="container">
<FORM action="{{ url_for('admin.update_resources') }}" method = "POST" enctype = "multipart/form-data">
<TABLE class="table">
    <THEAD class="thead-dark">
        <TR>
            <TD>Name</TD>
            <TD>Group</TD>
            <TD>ID</TD>
            <TD>Copies</TD>
            <TD>Cost</TD>
            <TD>Minimum age before copy</TD>
            <TD>Minimum age before trim</TD>
            <TD>Minimum free space</TD>
            <TD>Local</TD>
            <TD>Online</TD>
            <TD>Stage</TD>
            <TD>Keep</TD>
            <TD>SURF</TD>
            <TD>TAR</TD>
            <TD>Available</TD>
        </TR>
    </THEAD>
    <TBODY>
        {% for resource in resources %}
        <TR>
            <TD>{{ resource }}</TD>
            {% for property in ["group", "id", "sys::resource::copies", "sys::resource::cost", "sys::resource::min_age_before_copy", "sys::resource::min_age_before_trim"] %}
            <TD><input type="text" class="form-control" name="{{ resource }}__{{ property }}"
                value="{{ resources[resource].get(property, '') }}">
            </TD>
            {% endfor %}
            <TD><input type="text" class="form-control" name="{{ resource }}__sys::resource::minfree"
                value="{{ resources[resource].get('sys::resource::minfree', 0) }}">
            </TD>
            {% for property in [ "local", "online", "stage", "keep", "surf", "tar", "available"] %}
            <TD><input class="" type="checkbox"
                name="{{ resource }}__sys::resource::{{ property }}"
                value="true"
                {% if resources[resource].get('sys::resource::' + property) == "true" %} checked {% endif %}
                >
            </TD>
            {% endfor %}
        </TR>
        {% endfor %}
    </TBODY>
</TABLE>
<INPUT TYPE="submit" class="button">
</FORM>
</div>
{% endblock %}