{% extends 'base2.html' %}
  
{% block heading %}
<H2>Resource settings</H2>
{% endblock %}

{%block menuname %}
menuname='resources'
{% endblock %}

{% block content %}
<div class="card card-body">
<FORM action="{{ url_for('admin.update_resources') }}" method = "POST" enctype = "multipart/form-data">
<TABLE class="table">
    <THEAD class="thead-dark">
        <TR>
            <TD>Name</TD>
            {% for column in columns %}
                <TD>{{ columns[column].label }}</TD>
            {% endfor %}
        </TR>
    </THEAD>
    <TBODY>
        {% for resource in resources | sort %}
        <TR>
            <TD id="{{resource}}">{{ resource }}</TD>
            {% for property in columns %}
                {% if columns[property].type == 'text' %}
                    <TD><input type="text" class="form-control" name="{{ resource }}__{{ property }}"
                        value="{{ resources[resource].get(property, '') }}"
                {% elif columns[property].type == 'number' %}
                    <TD><input type="number" class="form-control" name="{{ resource }}__{{ property }}"
                        value="{{ resources[resource].get(property, '') }}"
                {% elif columns[property].type == 'bool' %}
                    <TD><input class="checkbx" type="checkbox"
                        name="{{ resource }}__{{ property }}"
                        value="true"
                        {% if resources[resource].get(property) == "true" %} checked {% endif %}
                    {% if columns[property].get('help') %}
                    title="{{ columns[property].get('help') }}"
                    {% endif %}
                    >
                {% endif %}
                {% if columns[property].type == 'select' %}
                    <TD><select 
                        name="{{ resource }}__{{ property }}">
                    {% for value in columns[property].options %}
                    <option value="{{ value }}" {% if value == resources[resource].get(property, '') %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>                
                {% endif %}
            </TD>
            {% endfor %}
        </TR>
        {% endfor %}
    </TBODY>
</TABLE>
<button type=submit class="btn btn-primary">Submit</button>
</FORM>
</div>

<script>
$('.checkbx').on('click', function(event){
        var name = $(this).attr('name').split('__')
        $('#' + name).css('color', 'red')
    }
)

$('.form-control').on('change', function(event){
        var name = $(this).attr('name').split('__')
        $('#' + name).css('color', 'red')
    }
)
</script>

{% endblock %}