{% extends 'base2.html' %}

{% block heading %}
<H3><b>Shared collections</b></H3>
{% endblock %}

{%block menuname %}
menuname='shared'
{% endblock %}

{% block content %}

<script>

    $(document).ready(function () {
        $('#shared_card').addClass('pending')
        $.get('{{ url_for("collbrowser.shared_collections_table")}}')
            .done(function (data) {
                $('#shared_card').removeClass('pending')
                $('#shared_content').html(data)

            })
    })

</script>

<div class="card h100" id="shared_card">
    <div class="card-body">
        <div class="h100" id="shared_content">
        </div>
    </div>
</div>

{% endblock %}