{% extends 'base2.html' %}

{% block menubuttons %}
<li class="nav-header">UPLOAD SETTINGS</li>
<li class="nav-item">
    <a href="{{ url_for('upload.upload_settings', coll=coll) }}" data-menuname="upload_settings" class="nav-link">
        <i class="fas fa-sliders-h nav-icon"></i>
        <p>Basic settings</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('upload.upload_meta', coll=coll) }}" data-menuname="upload_meta" class="nav-link">
        <i class="fas fa-list nav-icon"></i>
        <p>Metadata</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('upload.upload_data', coll=coll) }}" data-menuname="upload_data" class="nav-link">
        <i class="fas fa-cogs nav-icon"></i>
        <p>Data upload</p>
    </a>
</li>

{% endblock %}

{% block menuitems %}
<li class="nav-header">ACTIONS</li>
<li class="nav-item">
    <a href="{{ url_for('upload.upload_actions', coll=coll, action='finalize') }}" class="nav-link">
        <i class="fas fa-check nav-icon"></i>
        Finalize
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('upload.upload_actions', coll=coll, action='cancel') }}" class="nav-link">
        <i class="fas fa-ban nav-icon"></i>
        Cancel
    </a>
</li>
{% endblock %}