{% extends 'base2.html' %}

  
{% block header %}
<h2>{% block title %}Upload data{% endblock %}</h2>
{% endblock %}

{% block content %}

<script>

var directory="{{ upload_data['directory'] }}"
var sortkey="";
var reverse="";

function load_list() {
    $.get("{{ url_for('upload.filelist') }}", {
      path: directory,
      sortkey: sortkey,
      reverse: reverse,
      new_path: false,
      btn_del: true,
      btn_download: false
    }, function(data) {
      $('#contents').html(data)
    });
    $.get("{{ url_for('upload.seq_list') }}", {
        directory: directory
    }, function(data) {
      $('#seqlist').html(data)
    });
  }

$(document).on('collchange', function(e) {
  load_list();
});

$(window).on('load', function() {
  load_list();
});

</script>

<div class="container-wide">
    <div class="row">
        <div class="col">
            <center><h2>Upload data</h2><h4>(coll: {{ upload_data['directory'] }})</h4></center>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card border-primary">
                <div class="card card-header text-white bg-secondary">
                    Data Upload Instructions
                </div>
                <div class="card card-body">
                The upload requires you to supply one FASTA file with SARS-CoV-2 sequences and a 
                coupled metadata file in Comma Separated Values format (=csv) or XLS format. 
                You can upload these with the widget below.
                For uploading data, you can use this using this 
                <a href="{{ url_for('static', filename='templates/labsurv-template.csv' ) }}" style="display:inline;">template</a>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card card-header text-white bg-secondary">Upload data files here</div>
                <div class="card card-body">  
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
                    <form method="POST" action="{{ url_for('upload.upload_file') }}" class="dropzone" id="file-upload">
                        <div id="contents" class="card coll-content-sm">

                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card card-header  text-white bg-secondary">
                    Dataset actions
                </div>
                <div class="card card-body">
                    <form action="{{ url_for('upload.validate') }}" method="POST">                 
                        <div class="form-group">
                            <label for="usecase">Use Case</label>
                            <select class="form-control" id="usecase" name="usecase">
                                {% for use_case in use_cases %}
                                <option value="{{ use_case }}"
                                {% if use_case == upload_data['use_case'] %}selected{% endif %}
                                >{{ use_case }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="{{ url_for('upload.remove_files') }}"><button type="button" class="btn btn-secondary">Remove files</button></a>
                            <a href="{{ url_for('upload.cancel_upload') }}"><button type="button" class="btn btn-secondary">Cancel data upload</button></a>
                            <button type="submit" class="btn btn-primary">Verify data</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
        <div class="col-md-9">
            <div class="card border-primary">
                <div class="card card-header text-white bg-secondary">
                    Data preview
                </div> 
                <div class="card card-body seqlist" id="seqlist"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script type="text/javascript">

    Dropzone.options.fileUpload = {
        maxFilesize: 2000,
        parallelUpload: 8,
        createImageThumbnails: false,
        timeout: 120000,
        dictDefaultMessage: 'Drag files here or click to select',
        init: function() {
            this.on("success", function(file, response) {
                this.removeFile(file);
                load_list();
            });
        }
    }

</script>
{% endblock %}

