{% extends 'upload_pages.html' %}

{% block heading %}
<H2>Upload metadata for: <b>{{ name }}</b></H2>
{% endblock %}

{%block menuname %}
menuname='upload_meta'
{% endblock %}

{% block content %}


<!--                 unpkg.com/:package@:version/:file  -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!--script src="https://unpkg.com/@rjsf/core/dist/react-jsonschema-form.js"></script-->
<!--script src="https://unpkg.com/@rjsf/core/dist/core.cjs.production.min.js" crossorigin></script-->
<script src="https://unpkg.com/react-jsonschema-form@1.8.1/dist/react-jsonschema-form.js" crossorigin></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

<script>
  var formaction = 'default';
</script>

<div class="selectgrid h-100">
  <div class="card selectlist">
    <div class="card-header">
      <div class="card-title">Available schemata for dataset uploads in project: <b>{{ project_name }}</b></div>
    </div>
    <table id="dataset-schemata-table" data-toggle='table' data-multi-sort="true" data-sort-name="order" data-sort-order="asc"
      data-url="{{ url_for('metaedit.schemata_for_dataset', collection=coll, project_name=project_name)}}" data-checkbox-header="false">
      <thead>
        <TR>
          <TH data-field="selected" data-checkbox="true" title="Check the box first, then select field to display the form"></TH>
          <TH data-field="schema" data-sortable="true">Schema Name</TH>
          <TH data-field="schemapath" data-visible="false"></TH>
          <TH data-field="order" data-visible="false"></TH>
        </TR>
      </thead>
    </table>
  </div>
  <div class="card selectdetail">
    <div class="card-header">
      <div class="card-title">Metadata editor</div>
    </div>
    <div class="card-body autoscroll">
      <div id="reactform"><CENTER>SELECT A SCHEMA FILE...</CENTER></div>
    </div>

    <div class="card-footer">    
      <button class="btn btn-primary formsubmit" type="submit" name="save" form="metaForm" disabled>Save</button>
      <button class="btn btn-primary formsubmit" type="submit" name="continue" form="metaForm" disabled>Save & Continue</button>
    </div>
  </div>
</div>

<script>

  var selectedSchema = "";

  // Update the collection when a schema is enabled or disabled
  const toggleRow = function (schemapath, schema_action) {
    console.log('TOGGLE', '{{ coll }}', schemapath, schema_action )
    $.ajax({
      method: "POST",
      url: "{{ url_for('metaedit.set_schemata_for_collection')}}",
      contentType: "application/json; charset=utf-8",
      dataType: "json",      
      data: JSON.stringify({
        collection: "{{ coll }}",
        schemapath: schemapath,
        action: schema_action
      })
    })
  }

  // Load the correct schema form when a schema is selected
  const loadSchema = function(schemapath) {
    console.log('Load schema ' + schemapath)
    $.ajax({
      method: "GET",
      url: '{{ url_for("metaedit.get_schema_and_data") }}',
      data: {
        schemapath: schemapath,
        collection: "{{ coll }}"
      },
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (result) {
        console.log('Result', result)
        selectedSchema = schemapath;
//        fd = (schemaId == selectedSchema) ? formdata : {}
        renderFormFunction(JSON.parse(result.schema), JSON.parse(result.uiSchema), JSON.parse(result.data), 'reactform');
      }
    })
  }

  // Install bootstraptable event handlers
  $('#dataset-schemata-table').bootstrapTable({
    onCheck: function (row, $element) {
      toggleRow(row.schemapath, 'add')
    },
    onUncheck: function (row, $element) {
      toggleRow(row.schemapath, 'remove')
    },
    onClickRow: function (row, $element, field) {
      if (row.selected == false) {
        // Disabled schema cannot be loaded
        return
      }
      // TODO: There should be a warning if the current schema is unsaved
      loadSchema(row.schemapath)
      $('#dataset-schemata-table tr').removeClass('highlight')
      $element.addClass('highlight')
    }
  })

  const Form = JSONSchemaForm.default;
  const log = (type) => console.log.bind(console, type);
  let metaForm;

  function renderFormFunction(schema, uiSchema, data, element) {
    ReactDOM.render(
      React.createElement(
        Form,
        {
          id: "metaForm",
          schema: schema,
          uiSchema: uiSchema,
          formData: data,
          onChange: function () {
            $('.formsubmit').removeAttr('disabled');
          },
          onSubmit: formSubmit,
          ref: form => metaForm = form,
          onError: log("errors")
        },
        React.createElement("div", null)
      ),
      document.getElementById(element));
  }

  $('.formsubmit').on('click', function () {
    formaction = $(this).attr('name');
  })

  function formSubmit(e, d) {
    data = {
      data: e.formData,
      collection: "{{ coll }}",
      schemapath: selectedSchema,
      action: formaction
    }
    $.ajax({
      method: "POST",
      url: '{{ url_for("metaedit.store_metadata") }}',
      data: JSON.stringify(data),
      collection: "{{ coll }}",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function () {
        if (formaction == 'save') {
          location.reload();
        } else {
          window.location.replace('{{ url_for("upload.upload_data", coll=coll) }}')
        }
      }
    });
  }

</script>


{% endblock %}