{% extends 'base2.html' %}
  
{% block heading %}
<H2>Upload collections</H2>
{% endblock %}

{%block menuname %}
menuname='uploads'
{% endblock %}

{% block menubuttons %}
<li class="nav-header">ACTIONS</li>
<li class="nav-item btn btn-primary">
    <a href="{{ url_for('upload.new_upload') }}" >
      <!-- <i class="fas fa-plus nav-icon"></i> -->
      New Upload
    </a>
  </li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <H3>Pending uploads</H3>

        <div class ="float-right">
            <div class="buttons-toolbar"></div>
        </div>
    </div>
    <div class="card-body">
        <table id='pendingUploadTable'
            data-classes='table table-bordered table-hover table-striped'
            data-toggle='table'
            data-url='{{ url_for("upload.pending_uploads", state='pending') }}'
            data-striped="true"
            data-pagination="true"
            data-show-columns-toggle-all="false"
            data-show-pagination-switch="true"
            data-show-toggle="false"
            data-show-columns="true"
            data-search="true"
            data-buttons-toolbar=".buttons-toolbar">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="name">Name</th>
                    <th data-field="collection">Collection</th>
                    <th data-field="projectID">Project</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <H3>Ready uploads</H3>

        <div class ="float-right">
            <div class="buttons-toolbar"></div>
        </div>
    </div>
    <div class="card-body">
        <table id='readyUploadTable'
            data-classes='table table-bordered table-hover table-striped'
            data-toggle='table'
            data-url='{{ url_for("upload.pending_uploads", state='ready') }}'
            data-striped="true"
            data-pagination="true"
            data-show-columns-toggle-all="false"
            data-show-pagination-switch="true"
            data-show-toggle="false"
            data-show-columns="true"
            data-search="true"
            data-buttons-toolbar=".buttons-toolbar">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="name">Name</th>
                    <th data-field="collection">Collection</th>
                    <th data-field="projectID">Project</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}