{% extends 'base2.html' %}

  
{% block header %}


<h2>{% block title %}Data validation report{% endblock %}</h2>
{% endblock %}

{% block content %}

<style>
    .panel-resizable {
        resize: vertical;
      overflow: auto;
    }

    #panel-report {
        height: 40%
    }

    #panel-parsed-data {
        height: 40%
    }
</style>

<script>

var collection="{{ collection }}"

function load_contents() {
    $('#upload-btn').hide()
    $("#set_missing_variables-button").hide()
    $("#missingVariables").hide()
    $.get("{{ url_for('upload.seq_list') }}", {
      collection: collection
    }, function(data) {
      $('#seqlist').html(data)
    });
    $.get("{{ url_for('upload.validate_results') }}", {
        collection: collection
    }, function(content) {
        $('#report').html(content.report)
        $('#result').html(content.result)
        $('#parsed-data').html(content.parsedData)
        if (content.result == true) {
            $('#upload-btn').show()
        }
        if (content.hasMissingVariables) {
            $('#missingVariablesContent').html( content.missingVariablesForm )
            $("#missingVariables").show()
            if( content.missingVariablesForm ) {
                  $("#set_missing_variables-button").show()
            }
        }
    });
    
    //always prevent the hidden submit button from actually submitting the form content.
    $('#missing-variables-form').on( 'submit', function(event) {
        event.preventDefault();
        event.stopPropagation();
    }, false );

    $("#set_missing_variables-button").on('click', function(event){
        event.preventDefault();
        var form = $('#missing-variables-form')[0];
        if ( !form.checkValidity()) {
            // If the form is invalid, submit it. The form won't actually submit;
            // this will just cause the browser to display the native HTML5 error messages.
            $("#missing-variables-form").find("#form-submit-hidden").click();
            $( '#missing-variables-form input').removeClass('is-invalid')
            var invalidList = document.querySelectorAll(':invalid');
            $( '#missing-variables-form input').addClass('is-valid')
            if ( typeof invalidList !== 'undefined' && invalidList.length > 0 ) {
                for (var item of invalidList) {
                    console.log(item)
                    $( item ).removeClass('is-valid')
                    $( item ).addClass('is-invalid')
                    //M.toast({html: "Please fill the "+item.label.innerHTML+"", classes: 'bg-danger text-white'});
                }
            }
            return false
        }
        else {  
            $.ajax({
                type:'POST',
                url:"{{ url_for('upload.set_missing_variables') }}",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify( $('#missing-variables-form').serializeArray() ), //$('#missing-variables-form').serialize(),
                success: function(result){
                    $( '#missingVariablesBody').collapse()
                    console.log(result)
                },
                error: function(){

                }
            }) 
        }
    });
    
}



$(window).on('load', function() {
  load_contents();
});

</script>

<div class="container-wide hidden" id="missingVariables">
    <div class="card">
      <div class="card-header" id="missingVariablesHeader">
          <h3 data-toggle="collapse" data-target="#missingVariablesBody" aria-expanded="true" aria-controls="missingVariablesBody">Missing variables:
            <div class ="float-right">
                <a href="{{ url_for('upload.set_missing_variables') }}"><button class="button btn-secondary" id="set_missing_variables-button">use</button></a>
            </div>
          </h3>
      </div>
  
      <div id="missingVariablesBody" class="collapse show" aria-labelledby="missingVariablesHeader" data-parent="#missingVariables">
        <div id="missingVariablesContent" class="card-body">
            <center>Please wait while creating form ...</center>
        </div>
      </div>
    </div>
</div>

<br>

<!-- <div class="seqlist" id="seqlist">
    <center>Please wait while loading data ...</center>
</div> -->
<div class="container-wide">
    <div class="card">
        <div class="card card-header">
            <h3>Data upload validation result: <emp><span id="result"> ... </span></emp>
                <div class ="float-right">
                <a href="{{ url_for('upload.upload_page') }}"><button class="button btn-secondary" id="back-button">Go back</button></a>
                <a href="{{ url_for('upload.upload_batch') }}"><button class="button btn-primary float-right" id="upload-btn">Upload data</button></a>
                </div>
            </h3>
        </div>
        <div id="panel-report" class="card card-body panel-resizable">
            <div class="seqlist" id="report">
                <center>Please wait while loading validation results ...</center>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container-wide">
    <div class="card">
        <div class="card card-header">
            <h3>Uploaded content after parsing:</h3>
        </div>
        <div id="panel-parsed-data" class="card card-body panel-resizable">
            <div class="seqlist" id="parsed-data">
                <center>Please wait while loading the parsed data results ...</center>
            </div>
        </div>
    </div>
</div>

{% endblock %}
